<!DOCTYPE html>
<html>
    <head>
        <title>Zonexpert-게시판 작성</title>
        <!-- <link rel='stylesheet' href='/stylesheets/common.css' /> -->
        <link rel='stylesheet' href='/stylesheets/board_content.css' />
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
        <link rel='stylesheet' href='/summernote/summernote.css' />
    </head>

    <body>
		<%- include header.html %>

		<section class="main_section" style="text-align:inherit;">
			<div class="board_wrapper" style="display:table;">
				<div class="board_section container_box" style="padding:20px;">
					<input type="text" class="form-control board_title" placeholder="제목을 입력해주세요."></input>
					<div class="board_content" id="summernote"></div>
					<div class="board_btns">
						<button type="button" class="btn btn-default cancel">취소</button>
						<button type="button" class="btn btn-primary write"><%= write_btn_name %></button>
					</div>
				</div>
			</div>
		</section>
		<%- prediction_shortcut %>
    </body>
	
	<script src="/jquery/jquery.js"></script>
	<script src="/bootstrap/bootstrap.min.js"></script>
	<script src="/summernote/summernote.min.js"></script>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
	<script src="/modules/board_write.js"></script>
	<script src="/modules/prediction_shortcut.js"></script>
	<script>
		var board_title = '<%= board_title %>';
		var board_content = '<%- board_content %>';
		var boardNo = <%- boardNo %>;
		var isUpdate = <%- isUpdate %>;

		BOARD_WRITE.init({
			'board_title': board_title,
			'board_content': board_content,
			'isUpdate': isUpdate,
			'boardNo': boardNo
		});
		PREDICTION_SHORTCUT.init();
	</script>

</html>
