<!DOCTYPE html>
<html>
    <head>
        <title>Zonexpert-게시판</title>
        <link rel='stylesheet' href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/board.css' />
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
    </head>

    <body>
		<%- include header.html %>

		<section class="main_section">
			<div class="page_title">
				게시판
			</div>
			<div class="board_wrapper">
				<div class="board_section container_box">
					<div class="board_menu">
						<select id="dropdown">
							<option value="none" disabled selected>선택</option>
							<option value="title">제목</option>
							<option value="writer">작성자</option>
						</select>


						<div class="board_search_menu">
							<input type="text" class="board_search_input" placeholder="게시판 검색" autocomplete="off">
							<button type="button" class="board_search_btn">
								<i class="fa fa-search"></i>
							</button>
						</div>
						<button type="button" class="btn btn-default write"><i class="fa fa-pencil"></i></button>
					</div>
					<div class="board_table_section">
						<table id="board_table">
							<tr>
								<td class="board_number">번호</td>
								<td class="writer">작성자</td>
								<td class="title">제목</td>
								<td class="like"><i class="fa fa-thumbs-up"></i></td>
								<td class="date">작성일</td>
							</tr>
							<%- board_html %>
						</table>
					</div>
				</div>
			</div>
		</section>
		<%- prediction_shortcut %>
    </body>
	
	<script src="jquery/jquery.js"></script>
	<script src="bootstrap/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
	<script src="modules/board.js"></script>
	<script src="modules/prediction_shortcut.js"></script>
	<script>
		BOARD.init({
			'user_email': '<%= user_email %>'
		});
		PREDICTION_SHORTCUT.init();
	</script>

</html>
