<!DOCTYPE html>
<html>
    <head>
        <title>Zonexpert-경기정보</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel='stylesheet' href='/stylesheets/common.css'/>
        <link rel='stylesheet' href='/stylesheets/chat.css'/>
        <link rel='stylesheet' href='/bootstrap/bootstrap.css'/>
        <script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
    </head>
    <body>
        <%- include header.html %>

        <section class="main_section">
            <div class="page_title">
                <div class="teamTitleSection">
                    <div class="teamNameTitle homeTeamSection">
                        <img class="teamImg" src="<%= homeTeamImg %>"></img><%= homeTeamName %><br>
                        <span id="homeTeamGoals">0</span>
                    </div>
                    <div class="teamNameTitle awayTeamSection">
                        <img class="teamImg" src="<%= awayTeamImg %>"></img><%= awayTeamName %><br>
                        <span id="awayTeamGoals">0</span>
                    </div>
                </div>
            </div>
            <div class="window-wrapper">
                <div class="window-title">
                    <div class="title">
                        <span>ZONEXPERT 채팅</span><button class="showUserList">유저 목록</button>
                    </div>

                </div>
                <div class="window-area">
                    <div class="chat-area">

                        <div class="chat-list">
                            <ul id="chat-content">

                            </ul>
                        </div>

                        <div class="input-area">
                            <div class="my-account" style="float:left;">
                                <div class="image" style="float:left;">
                                    <img src="<%= myBadgeSrc %>">
                                </div>
                                <div class="name" >
                                    <span ><%= my_nickname %></span>
                                </div>
                            </div>
                            <div class="input-wrapper" style="float:left;">
                                <input id="message-input" type="text" value="">
                            </div>
                            <input id="message-button" type="button" value="전송" class="send-btn" style="float:right;width:10%" >
                        </div>


                    </div>


                </div>
                    <div class="right-tabs">
                        <ul class="member-list">

                        </ul>
                    </div>
            </div>

        </section>
        <%- prediction_shortcut %>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <script src="/modules/chat.js"></script>
    <script src="/modules/prediction_shortcut.js"></script>
    <script src="notice/notice.js"></script>
    <script>
        var notice = NOTICE;
        CHAT.init({
            nickname: '<%= my_nickname %>',
            roomId: parseInt('<%= matchId %>', 10),
            myBadge: '<%= myBadge %>',
            attendancePointUpdated: <%- attendancePointUpdated %>
        });
        PREDICTION_SHORTCUT.init();
    </script>

</html>
