<!DOCTYPE html>
<html>
    <head>
        <title>Zonexpert-채팅방</title>
        <link rel='stylesheet' href='/stylesheets/common.css'/>
        <link rel='stylesheet' href='/stylesheets/chat.css'/>
        <link rel='stylesheet' href='/bootstrap/bootstrap.css'/>
        <script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
    </head>
    <body>
        <%- include header.html %>

        <section class="main_section">
            <div class="page_title">
                <div class="teamTitleSection">
                    <div class="teamNameTitle homeTeamSection">
                        <img class="teamImg" src="<%= homeTeamImg %>"></img><%= homeTeamName %><br>
                        0
                    </div>
                    <div class="teamNameTitle awayTeamSection">
                        <img class="teamImg" src="<%= awayTeamImg %>"></img><%= awayTeamName %><br>
                        0
                    </div>
                </div>
            </div>
            <div class="window-wrapper">
                <div class="window-title">
                    <div class="title">
                        <span>ZONEXPERT 채팅</span>
                    </div>

                </div>
                <div class="window-area">
                    <div class="chat-area">

                        <div class="chat-list">
                            <ul id="chat-content">

                            </ul>
                        </div>

                        <div class="input-area">
                            <div class="my-account" style="float:left;width:25%">
                                <div class="image" style="float:left">
                                    <img src="https://secure.gravatar.com/avatar/de76e03aa6b5b0bf675c1e8a990da52f?s=64" >
                                </div>
                                <div class="name" >
                                    <span ><%= my_nickname %></span>
                                </div>
                            </div>
                            <div class="input-wrapper" style="float:left;width:60%">
                                <input id="message-input" type="text" value="">
                            </div>
                            <input id="message-button" type="button" value="전송" class="send-btn" style="float:right;width:10%" >
                        </div>


                    </div>


                </div>
                    <div class="right-tabs">
                        <ul class="member-list">

                        </ul>
                    </div>
            </div>

        </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="/modules/chat.js"></script>
        <script>
            CHAT.init({
                nickname: '<%= my_nickname %>',
                roomId: parseInt('<%= matchId %>', 10)
            });
        </script>
    </body>

</html>
