<!DOCTYPE html>
<html>
    <head>
        <title>존문가닷컴</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><head>
        <meta property="og:url" content="http://zonexperts.com/">
        <meta property="og:title" content="존문가닷컴">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://zonexperts.com/image/black_logo.png">
        <meta property="og:description" content="스포츠 경기 예측을 통해 나의 랭킹을 올려보자!">
        <meta name="description" content="스포츠 경기 예측을 통해 나의 랭킹을 올려보자!">
        <meta name="keywords" content="존문가, 존문가닷컴, zonexpert, zonexperts, zonexpoerts.com">
    </head>
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
        <link rel='stylesheet' media="only screen" href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
		<%- include header.html %>

		<section class="main_logo_section">
			<div class="logo_wrapper">
				<div class="logo"></div>
			</div>
            <div id="visitFirstHelpNotice" style="z-index: 99; position: fixed; top: 70px; left: 5px; right: 5px; height: 100px; background-color: rgb(46, 167, 190); border-radius: 5px; color: white; font-size: 22px; text-align: center; display: none;">
                <span style=" margin-top: 19px; display: block;">
                    처음오셨나요?<br>
                    <a href="/help" style="text-shadow: 0px 0px 3px #337ab7; color: white; text-decoration: underline; cursor: pointer;">도움말</a>
                    을 꼭 확인해주세요!
            </span>
            <button class="noticeClose" type="button" style="background-color: transparent; border: transparent; position: absolute; top: 0; right: 0; width: 50px; height: 50px; outline: none !important;"><i class="fa fa-times"></i></button>
        </div>
		</section>

		<section class="main_section">
			<div class="mydata_wrapper">
				<div class="mydata_section container_box" style="<%= mydata_display %>">
					<div class="mydata_user">
						<span class="mydata_user_id">-</span><!-- &nbsp(주종목:<span class="mydata_user_main_field">-</span>) -->
						<button id="searchMyData" class="btn btn-primary"><i class="fa fa-search"></i></button>
					</div>
					<div class="mydata_statistics">
						<div class="mydata_badge">
							<img id="my_tier_img" src="">
						</div>
						<div class="mydata_rate">
							<p><span class="rate_classification">레이팅</span><span id="my_rating">-</span></p>
							<p><span class="rate_classification">등&nbsp&nbsp&nbsp급</span> <span id="my_tier_name">-</span></p>
							<p><span class="rate_classification">전&nbsp&nbsp&nbsp적</span> <span id="my_total_hit">-</span> / <span id="my_total_fail">-</span></p>
							<p><span class="rate_classification">적중률</span> <span id="my_predict_rate">-</span>%</p>
						</div>
						<div class="mydata_recent_predict">
							<div class="mydata_recent_predict_sub">
								최근 예측
							</div>
							<div class="mydata_recent_predict_content">
								<div class="predict_content_row no_data">예측 기록이 없습니다.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="rank_wrapper">
				<div class="rank_section container_box">
					<div class="rankdata">
						<span class="rankdata_sub">존문가 TOP 10</span>
					</div>
					<div class="rankdata_type_btn">
						<button class="type_btn active" type="rating">레이팅</button>
						<button class="type_btn" type="game_cnt">게임수</button>
						<button class="type_btn" type="predict_rate">적중률</button>
					</div>

					<div class="rank_table_section">
						<table id="rank_table">
							<tr>
								<td class="table_label_title">순위</td>
								<td class="table_label_nickname">닉네임</td>
								<td class="table_label_mainsport">주종목</td>
								<td class="table_label_score">점수</td>
								<td class="table_label_record">전적</td>
								<td class="table_label_hitrate">적중률</td>
								<td class="table_label_tier">티어</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>
        <%- prediction_shortcut %>
        <%- feedback %>

    </body>

    <div id="notice">
		<div id="notice-icon"></div><div id="notice-content"></div>
	</div>

	<script src="jquery/jquery.js"></script>
	<script src="bootstrap/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
	<script src="modules/index.js"></script>
    <script src="modules/prediction_shortcut.js"></script>
    <script src="notice/notice.js"></script>
	<script>
		var notice = NOTICE;
		INDEX.init({
			'attendancePointUpdated': <%- attendancePointUpdated %>,
			'myNickName': '<%= myNickname %>'
		});
        PREDICTION_SHORTCUT.init();
	</script>

</html>
