<!DOCTYPE html>
<html>
    <head>
        <title>Zonexpert</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    </head>
	
    <body>
		<div id="header_wrap">
			<div id="header">
				<div class="logo">Z<i class="fa fa-soccer-ball-o" style="font-size:14px;"></i>nexpert</div>
				<ul class="main_menu">
					<!-- <li class="menu_rank"><a type="button" href="/">순위</a></li>
					<li class="menu_schedule"><a href="/">경기일정</a></li>
					<li class="menu_board"><a href="/">게시판</a></li> -->
					<li class="menu_rank">순위</li>
					<li class="menu_schedule">경기일정</li>
					<li class="menu_board">게시판</li>
				</ul>
				<ul class="tools">
					<li class="menu_search">
						<input type="text" class="user_serach_input" placeholder="ID 검색" autocomplete="off">
						<button type="button" class="user_search_btn">
							<i class="fa fa-search"></i>
						</button>
					</li>
					<!-- <li class="my_info" style="<%= myinfo_display %>"><a href="/">마이페이지</a></li>
					<li class="logout" style="<%= logout_display %>"><a href="/">로그아웃</a></li>
					<li class="login" style="<%= login_display %>"><a href="/">로그인</a></li>
					<li class="signup" style="<%= signup_display %>"><a href="/">회원가입</a></li> -->
					<li class="my_info" style="<%= myinfo_display %>">마이페이지</li>
					<li class="logout" style="<%= logout_display %>">로그아웃</li>
					<li class="login" style="<%= login_display %>">로그인</li>
					<li class="signup" style="<%= signup_display %>">회원가입</li>
				</ul>
			</div>
		</div>
		
		<section class="main_logo_section">
			<div class="logo">Z<i class="fa fa-soccer-ball-o" style="font-size:40px;"></i>nexpert</div>
		</section>
		
		<section class="main_section">
			<div class="mydata_section container_box" style="<%= mydata_display %>">
				
			</div>
			<div class="schedule_section container_box">
				
			</div>
		</section>
		
    </body>
	
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
	
</html>