<!DOCTYPE html>
<html>
    <head>
        <title>존문가닷컴</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><head>
        <meta property="og:url" content="https://devtalk.kakao.com/">
        <meta property="og:title" content="Kakao DevTalk_">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://devtalk.kakao.com/images/devtalk_.png">
        <meta property="og:description" content="카카오 데브톡. 카카오 플랫폼 서비스 관련 질문 및 답변을 올리는 개발자 커뮤니티 사이트입니다.">
        <meta name="description" content="카카오 데브톡. 카카오 플랫폼 서비스 관련 질문 및 답변을 올리는 개발자 커뮤니티 사이트입니다.">
        <meta name="keywords" content="데브톡,devtalk,카카오,디벨로퍼스,개발자,API,플랫폼">
        ...
    </head>
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
        <link rel='stylesheet' media="only screen" href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
		<%- include header.html %>

		<section class="main_logo_section">
			<div class="logo_wrapper">
				<div class="logo"></div>
			</div>
		</section>

		<section class="main_section">
			<div class="mydata_wrapper">
				<div class="mydata_section container_box" style="<%= mydata_display %>">
					<div class="mydata_user">
						<span class="mydata_user_id">-</span><!-- &nbsp(주종목:<span class="mydata_user_main_field">-</span>) -->
						<button id="searchMyData" class="btn btn-primary"><i class="fa fa-search"></i></button>
					</div>
					<div class="mydata_statistics">
						<div class="mydata_badge">
							<img id="my_tier_img" src="">
						</div>
						<div class="mydata_rate">
							<p><span class="rate_classification">레이팅</span><span id="my_rating">-</span></p>
							<p><span class="rate_classification">등&nbsp&nbsp&nbsp급</span> <span id="my_tier_name">-</span></p>
							<p><span class="rate_classification">전&nbsp&nbsp&nbsp적</span> <span id="my_total_hit">-</span> / <span id="my_total_fail">-</span></p>
							<p><span class="rate_classification">적중률</span> <span id="my_predict_rate">-</span>%</p>
						</div>
						<div class="mydata_recent_predict">
							<div class="mydata_recent_predict_sub">
								최근 예측
							</div>
							<div class="mydata_recent_predict_content">
								<div class="predict_content_row no_data">예측 기록이 없습니다.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="rank_wrapper">
				<div class="rank_section container_box">
					<div class="rankdata">
						<span class="rankdata_sub">존문가 TOP 10</span>
					</div>
					<div class="rankdata_type_btn">
						<button class="type_btn active" type="rating">레이팅</button>
						<button class="type_btn" type="game_cnt">게임수</button>
						<button class="type_btn" type="predict_rate">적중률</button>
					</div>

					<div class="rank_table_section">
						<table id="rank_table">
							<tr>
								<td class="table_label_title">순위</td>
								<td class="table_label_nickname">닉네임</td>
								<td class="table_label_mainsport">주종목</td>
								<td class="table_label_score">점수</td>
								<td class="table_label_record">전적</td>
								<td class="table_label_hitrate">적중률</td>
								<td class="table_label_tier">티어</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>
        <%- prediction_shortcut %>
        <%- feedback %>

    </body>

    <div id="notice">
		<div id="notice-icon"></div><div id="notice-content"></div>
	</div>

	<script src="jquery/jquery.js"></script>
	<script src="bootstrap/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
	<script src="modules/index.js"></script>
    <script src="modules/prediction_shortcut.js"></script>
    <script src="notice/notice.js"></script>
	<script>
		var notice = NOTICE;
		INDEX.init({
			'attendancePointUpdated': <%- attendancePointUpdated %>,
			'myNickName': '<%= myNickname %>'
		});
        PREDICTION_SHORTCUT.init();
	</script>

</html>
