<!DOCTYPE html>
<html>
    <head>
        <title>존문가닷컴-도움말</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel='stylesheet' href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/help.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
    </head>

    <body>
		<%- include header.html %>

		<section>
            <div style="text-align: center;">
				<div class="logo"></div>
				<div class="wrapper">
                    <div class="container_box">
                        <h2 style="text-decoration: line-through">도움을 구하는 말</h2>
                        <p>현재 개발이 진행중입니다. 테스터 여러분의 서비스 이용이 저희에게 큰 도움이 됩니다.</p>
                        <p>가끔 생각나실 때 이용해주시면 정말 감사합니다.</p>
                        <p>사용하시면서 문제점이나 보완점, 다양한 의견을 하단의 파란색 버튼을 눌러 의견을 보내주세요!</p>
                        <h2>이용방법</h2>
                        <br>
                        <p>안녕하세요. 존문가닷컴 개발자입니다.</p>
                        <p>존문가닷컴은 스포츠 경기의 결과를 예측하여 게임처럼 등급과 레이팅으로 경쟁하는 서비스입니다.</p>
                        <p>또한 사용자들의 예측 정보 공유를 바탕으로 사용자에게 수익이 분배되는 것을 목표로 하는 서비스입니다.</p>
                        <p>이 도움말은 모바일 화면을 기준으로 작성된 도움말입니다.</p>
                        <br>
                        <img src="/image/m_help/help1.png">
                        <br><br>
                        <p>우측 상단을 누르면 메뉴가 펼쳐집니다.</p>
                        <p><b>일정 & 예측</b>버튼을 누릅니다.</p>
                        <img src="/image/m_help/help2.png">
                        <br><br>
                        <p>이 페이지에서는 사용자들의 랭킹을 확인할 수 있습니다.</p>
                        <p><b>데스크탑 환경에서는 레이팅, 전적, 예측률 등을 확인할 수 있습니다.</b></p>
                        <p><b>표에서 사용자를 터치하면 사용자의 정보를 더 확인할 수 있습니다.</b></p>







                    </div>
				</div>
			</div>
		</section>
        <%- feedback %>
    </body>

    <div id="notice">
		<div id="notice-icon"></div><div id="notice-content"></div>
	</div>

	<script src="jquery/jquery.js"></script>
	<script src="bootstrap/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
    		$('#header .tools .signup').click(function() {
    			location.href = "/signup";
    		});

    		$('#header .tools .login').click(function() {
    			location.href = "/login";
    		});

    		$('#header .tools .logout').click(function() {
    			$.post('/logout', {}, function(logout) {
    				if (logout.result) {
    					location.reload();
    				} else {
    					console.log(logout);
    				}
    			});
    		});

    		$('#header .tools .my_page').click(function() {
    			location.href = '/my_page';
    		});

    		$('#header .main_menu li').click(function() {
    			var move = $(this).attr('move');
    			location.href = '/' + move;
    		});

    		$('.user_search_input').keydown(function(e) {
    			if(e.keyCode == 13) {
    				$('.user_search_btn').click();
    			}
    		});

    		$('.user_search_btn').click(function() {
    			var id = $('.user_search_input').val();

    			location.href = "/search?id=" + id;
    		});
        });
    </script>

</html>
