<!DOCTYPE html>
<html>
    <head>
        <title>Zonexpert-랭킹</title>
        <link rel='stylesheet' href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/rank	.css' />
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
    </head>

    <body>
		<%- include header.html %>

		<section class="main_section">
			<div class="page_title">
				존문가 랭킹
			</div>
			<div class="rank_wrapper">
				<div class="rank_section container_box">
					<div class="rank_search_wrapper">
						<div class="rank_search">
							<input type="text" class="rank_search_input" placeholder="순위 검색" autocomplete="off">
							<button type="button" class="rank_search_btn">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
					<div class="rank_table_section">
						<table id="rank_table">
							<tr>
								<td>순위</td>
								<td>닉네임</td>
								<td>주종목</td>
								<td>점수</td>
								<td>전적</td>
								<td>예측률</td>
								<td>티어</td>
							</tr>
							<%- rank_html %>
						</table>
					</div>
				</div>
			</div>
		</section>
		<%- prediction_shortcut %>
    </body>
	
	<script src="jquery/jquery.js"></script>
	<script src="bootstrap/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
	<script src="modules/rank.js"></script>
	<script src="modules/prediction_shortcut.js"></script>
	<script>
		RANK.init();
		PREDICTION_SHORTCUT.init();
	</script>

</html>
