<!DOCTYPE html>
<html>
    <head>
        <title>존문가닷컴-경기일정</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel='stylesheet' href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/schedule.css' />
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
    </head>

    <body <%- mobileSafaribodyBackgroundCss %>>
		<%- include header.html %>

		<section class="main_section">
			<div class="page_title">
				경기 일정
			</div>
			<div class="schedule_wrapper">
				<div class="schedule_section container_box">
                    <div class="scheduledata_league_select_btn_container">
                        <button class="league_select_btn" key="2">야구</button>
						<button class="league_select_btn" key="1">축구</button>
                    </div>
					<div class="scheduledata_league_btn_container" sports="2">
						<button class="league_btn premier-league" key="kbo2017">KBO</button>
					</div>
					<div class="scheduledata_league_btn_container" sports="1" style="display: none;">
						<button class="league_btn premier-league" key="426">프리미어리그</button>
                        <button class="league_btn england-fa" key="429">잉글랜드FA컵</button>
                        <button class="league_btn bundesliga" key="430">분데스리가</button>
                        <button class="league_btn bundesliga" key="432">포칼컵</button>
						<button class="league_btn laliga" key="436">라리가</button>
						<button class="league_btn seria-a"key="438">세리에 A</button>
						<button class="league_btn league-1" key="434">리그 1</button>
						<button class="league_btn eredivisie" key="433">에레디비시</button>
						<button class="league_btn primeiraliga" key="439">포르투갈</button>
						<button class="league_btn champions-league" key="440">챔피언스리그</button>
					</div>
                    <div class="form-group schedule_month_select_container">
                    	<div class="colorDesc">
                    		<div class="rect isHit"></div><span class="rectDesc"></span>
                    		<div class="rect isFail"></div><span class="rectDesc"></span>
                    		<div class="rect isCompleted"></div><span class="rectDesc"></span>
                    		<div class="rect inBasket"></div><span class="rectDesc"></span>
                    	</div>
                        <select class="form-control" id="schedule_month_select">
                        </select>
                    </div>
                    <!-- <div class="scheduledata_month_btn_container">

                    </div> -->
					<div class="schedule_table_section">
						<table id="schedule_table">
						</table>
					</div>
				</div>
			</div>
		</section>
        <%- prediction_shortcut %>
        <%- feedback %>
    </body>

    <div id="notice">
		<div id="notice-icon"></div><div id="notice-content"></div>
	</div>

	<script src="jquery/jquery.js"></script>
	<script src="bootstrap/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
	<script src="modules/schedule.js"></script>
    <script src="modules/prediction_shortcut.js"></script>
    <script src="notice/notice.js"></script>
	<script>
		var notice = NOTICE;
		SCHEDULE.init({
			'attendancePointUpdated': <%- attendancePointUpdated %>,
			'targetMatch': '<%= targetMatch %>'
		});
        PREDICTION_SHORTCUT.init();
	</script>

</html>
