<!DOCTYPE html>
<html>
    <head>
        <title>Zonexpert-경기일정</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel='stylesheet' href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/schedule.css' />
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
    </head>

    <body>
		<%- include header.html %>

		<section class="main_section">
			<div class="page_title">
				경기 일정
			</div>
			<div class="schedule_wrapper">
				<div class="schedule_section container_box">
					<div class="scheduledata_league_btn">
						<button class="league_btn premier-league active" key="426">프리미어리그</button>
                        <button class="league_btn england-fa" key="429">잉글랜드FA컵</button>
                        <button class="league_btn bundesliga" key="430">분데스리가</button>
                        <button class="league_btn bundesliga" key="432">포칼컵</button>
						<button class="league_btn laliga" key="436">라리가</button>
						<button class="league_btn seria-a"key="438">세리에 A</button>
						<button class="league_btn league-1" key="434">리그 1</button>
						<button class="league_btn eredivisie" key="433">에레디비시</button>
						<button class="league_btn primeiraliga" key="439">포르투갈</button>
                        <button class="league_btn k-league" key="999">K리그</button>
						<button class="league_btn champions-league" key="440">챔피언스리그</button>
						<button class="league_btn europa-league">유로파리그</button>
					</div>
					<div class="schedule_table_section">
						<table id="schedule_table">
						</table>
					</div>
				</div>
			</div>
		</section>
        <%- prediction_shortcut %>
    </body>

	<script src="jquery/jquery.js"></script>
	<script src="bootstrap/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
	<script src="modules/schedule.js"></script>
    <script src="modules/prediction_shortcut.js"></script>
    <script src="notice/notice.js"></script>
	<script>
		var notice = NOTICE;
		SCHEDULE.init({
			'attendancePointUpdated': <%- attendancePointUpdated %>
		});
        PREDICTION_SHORTCUT.init();
	</script>

</html>
