<!DOCTYPE html>
<html>
    <head>
        <title>Zonexpert-경기일</title>
        <link rel='stylesheet' href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/schedule.css' />
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
    </head>

    <body>
		<div id="header_wrap">
			<div id="header">
				<a href="/" class="logo"></a>
				<ul class="main_menu">
					<li class="menu_rank" move="rank">순위</li>
					<li class="menu_schedule" move="schedule">경기일정</li>
					<li class="menu_board" move="board">게시판</li>
				</ul>
				<ul class="tools">
					<li class="menu_search">
						<input type="text" class="user_serach_input" placeholder="ID 검색" autocomplete="off">
						<button type="button" class="user_search_btn">
							<i class="fa fa-search"></i>
						</button>
					</li>
					<li class="my_page" style="<%= myinfo_display %>">마이페이지</li>
					<li class="logout" style="<%= logout_display %>">로그아웃</li>
					<li class="login" style="<%= login_display %>">로그인</li>
					<li class="signup" style="<%= signup_display %>">회원가입</li>
				</ul>
			</div>
		</div>

		<section class="main_section">
			<div class="page_title">
				경기 일정
			</div>
			<div class="schedule_wrapper">
				<div class="schedule_section container_box">
					<div class="scheduledata_league_btn">
						<button class="league_btn premier-league active" key="426">프리미어리그</button>
                        <button class="league_btn england-fa" key="429">잉글랜드FA컵</button>
                        <button class="league_btn bundesliga" key="430">분데스리가</button>
                        <button class="league_btn bundesliga" key="432">포칼컵</button>
						<button class="league_btn laliga" key="436">라리가</button>
						<button class="league_btn seria-a"key="438">세리에 A</button>
						<button class="league_btn league-1" key="434">리그 1</button>
						<button class="league_btn eredivisie" key="433">에레디비시</button>
						<button class="league_btn eredivisie" key="439">포르투갈</button>
                        <button class="league_btn k-league">K리그</button>
						<button class="league_btn champions-league" key="440">챔피언스리그</button>
						<button class="league_btn europa-league">유로파리그</button>
						<button class="league_btn efl-cup">EFL컵</button>
					</div>
					<div class="schedule_table_section">
						<table id="schedule_table">
						</table>
					</div>
				</div>
			</div>
		</section>
        <%- prediction_shortcut %>
    </body>

	<script src="jquery/jquery.js"></script>
	<script src="bootstrap/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
	<script src="modules/schedule.js"></script>
    <script src="modules/prediction_shortcut.js"></script>
	<script>
		SCHEDULE.init();
        PREDICTION_SHORTCUT.init();
	</script>

</html>
