<!DOCTYPE html>
<html>
    <head>
        <title>존문가닷컴-회원가입완료</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel='stylesheet' href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/under_construction.css' />
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
    </head>

    <body>
		<section>
            <div style="text-align: center;">
				<div class="logo"></div>
				<div class="wrapper">
                    <div class="container_box">
                        <h2 style="margin-top: 40px; margin-bottom: 40px;">
                            <span>회원가입 완료</span>
                            <i class="fa fa-check-circle-o" style="color:green;"></i>
                        </h2>
                        <h3>회원가입이 완료되었습니다.</h3>
                        <h3>사이트로 이동하여 로그인 후 이용해주시기 바랍니다.</h3>
                        <h3>감사합니다.</h3>
                        <h3><a style="text-decoration:underline; font-size: 24px;" href="/">zonexperts.com</a></h3>
                    </div>
				</div>
			</div>
		</section>
    </body>

	<script src="jquery/jquery.js"></script>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>

</html>
