<!DOCTYPE html>
<html>
    <head>
        <title>Zonexpert-회원가입</title>
        <link rel='stylesheet' href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/signup.css' />
        <!-- <link rel='stylesheet' href='/bootstrap/bootstrap.css' /> -->
    </head>

    <body>
		<div id="header_wrap">
			<div id="header">
				<a href="/" class="logo"></a>
			</div>
		</div>

		<section class="signup_section">
		<div class="signup_box_wrapper">
				<div class="logo"></div>
				<div class="signup_box container_box">
					<div class="row">
						<div class="signup_row_sub">이메일</div>
						<div class="signup_row_content"><input type="text" id="email_input" placeholder="example@example.com"></div>
					</div>
					<div class="row">
						<div class="signup_row_sub">비밀번호</div>
						<div class="signup_row_content"><input type="password" id="pw_input" placeholder="비밀번호를 입력해주세요."></div>
					</div>
					<div class="row">
						<div class="signup_row_sub">비밀번호 확인</div>
						<div class="signup_row_content"><input type="password" id="pw_check_input" placeholder="비밀번호를 다시 입력해주세요."></div>
					</div>
					<div class="row">
						<div class="signup_row_sub">닉네임</div>
						<div class="signup_row_content"><input type="text" id="nick_input" placeholder="닉네임을 입력해주세요."></div>
					</div>
					<div class="row">
						<div class="signup_row_sub">주 종목</div>
						<div class="signup_row_content select_row">
							<select id="main_sport_select">
								<option value="none">스포츠 선택</option>
								<option value="1">축구</option>
							</select>
							<select id="main_league_select">
								<option value="select_league">리그 선택</option>
							</select>
						</div>
					</div>
				</div>
				<div class="signup-btns">
					<button id="signup_cancel">돌아가기</button>
					<button id="signup_btn">가입하기</button>
				</div>
			</div>
		</section>


    </body>

	<script src="jquery/jquery.js"></script>
	<!-- <script src="bootstrap/bootsrtap.min.js"></script> -->
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
	<script src="modules/signup.js"></script>
	<!-- <script src="bootstrap/bootsrtap.min.js"></script> -->
	<script>
		SIGNUP.init();
	</script>

</html>
