
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	margin: 0px !important;
	font-family: "Nanum Gothic", sans-serif !important;
	/*background-color: #145c86 !important;*/

	background-image: url(http://i.imgur.com/MQB99sg.jpg);
	background-repeat: repeat;
	background-size: 100% 100vh;
	background-attachment: fixed;
}

.main_section {
	/*background-color: #145c86;*/
	/*opacity: 0.85;*/
	text-align: center;
	margin-bottom: 60px !important;
}

.board_wrapper {
	max-width: 1200px;
	margin: 0 auto;
	display: table;
}

.main_section .board_section {
	width: 800px;
}

.container_box {
	background-color: #ddd;
	border-radius: 10px;
	position: relative;
	display: inline-block;
	margin: 30px 30px 30px 30px;
}


/*
	<-- HEADER -->
*/

#header_wrap {
	height: 70px;
	background-color: #444;
	flex: 0 0 70px;
}

#header {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.logo {
	background: url(/image/zonexpert_logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#header .logo {
	height: 70px;
	width: 200px;
	float: left;
}

#header .main_menu {
	display: inline-block;
	line-height: 70px;
	vertical-align: middle;
	margin: 0px;
}

#header .tools {
	float: right;
	display: inline-block;
	line-height: 70px;
	vertical-align: middle;
	margin: 0px;
}

#header .tools .my_page,
#header .tools .logout,
#header .tools .login,
#header .tools .signup,
#header .main_menu .menu_rank,
#header .main_menu .menu_schedule,
#header .main_menu .menu_board,
#header .main_menu .menu_help {
	/* float: right;
	text-align: center;
	border-left: 1px solid #ccc;
	height: 100%;
	width: 70px; */
	/* float: right; */
	display: inline-block;
	position: relative;
	/* height: 50px; */
	padding: 0px 20px 0px 20px;
	color: #fff;
	cursor: pointer;
}

#header .tools .my_page:hover,
#header .tools .logout:hover,
#header .tools .login:hover,
#header .tools .signup:hover,
#header .main_menu .menu_rank:hover,
#header .main_menu .menu_schedule:hover,
#header .main_menu .menu_board:hover,
#header .main_menu .menu_help:hover {
 	background-color: #333;
	box-shadow: 0px -4px 2px -2px white inset
}

#header .menu_search {
	display: inline-block;
	position: relative;
	/*margin-right: 30px;*/
	/*margin-top: 18px;*/
	padding: 18px;
}

#header .menu_search > button {
	position: absolute;
	right: 18px;
	top: 18px;
	border: none;
	background: none;
	padding: 11px;
	cursor: pointer;
	line-height: 0px;
}

#header .menu_search > button:hover {
	background-color: #ccc;
	/*height: 100%;*/
	border-radius: 0px 5px 5px 0px;
}

#header .menu_search > input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 35px;
	padding: 5px 30px 5px 5px;
	font-size: 14px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ccc;
}

.mobile_my_point {
	position: absolute;
	top: 23px;
	right: 60px;
}

.mobile_my_point > img,
.my_point > img {
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

#mobile_my_current_point,
#my_current_point {
	color: #c5bb21;
	margin-right: 5px;
}

#toolsmenu {
	background-color: #444;
	border-color: #444;
}

.icon-bar {
	width: 22px;
	height: 2px;
	background: #fff;
	display: block;
	border-radius: 1px;
	margin-bottom: 7px;
}



.modal-backdrop, .modal-backdrop.in {
    display: none;
}

.board_title {
	margin-bottom: 10px;
}

.board_btns {
	text-align: center;
}

.board_btns > .cancel {
	margin-right: 10px;
}

.prediction_shortcut_container {
	display: none;
    height: 330px;
    width: 520px;
    position: fixed;
    right: 15px;
    bottom: 15px;
	background-color: #f3f3f3;
	border-radius: 5px;
	box-shadow: 0px 0px 3px;
	z-index: 10000;
}

.prediction_shortcut_title_container {
	height: 36px;
	border-bottom: 1px solid #bbb;
	/*padding-left: 5px;*/
	/*background-color: #ffa500;*/
	/*color: #3a2500;*/
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.prediction_shortcut_title.unconfirmed {
	float: left;
	height: 36px;
	width: 50%;
	font-size: 17px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
	border-top-left-radius: 5px
}

.prediction_shortcut_title.confirmed {
	float: left;
	height: 36px;
	width: 50%;
	font-size: 17px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
	border-top-right-radius: 5px
}

.prediction_shortcut_title.active {
	background-color: #ffa500;
}

.prediction_shortcut_title:hover {
	cursor: pointer;
}

.prediction_shortcut_title:not(.active) {
	color: #888;
}

.prediction_shortcut_title:not(.active):hover {
	color: #ffa500;
}

.prediction_shortcut_title_text {
	margin-left: 30px;
}

.prediction_shortcut_list {
	height: calc(100% - 38px - 42px);
	overflow-y: scroll;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

.prediction_shortcut_list table {
	width: 100%;
}

.prediction_shortcut_do {
	padding-top: 5px;
	padding-right: 10px;
}

.prediction_shortcut_button_container {
    height: 80px;
    width: 70px;
    position: fixed;
    right: 80px;
    bottom: 0px;
}

.prediction_shortcut_button {
    height: 65px;
    width: 65px;
    background-color: #ffa500;
    text-align: center;
    border: 2px solid #ffdfa4;
	border-radius: 50px;
    font-size: 49px;
    cursor: pointer;
    color: #674403;
	line-height: 66px;
	padding-left: 3px;
}

.prediction_shortcut_icon {
	margin-left: 4px;
}

.prediction_shortcut_button:hover {
	border-color: #ffdfa4;
	color: #3a2500
}

.prediction_shortcut_preview_number {
	display: none;
    position: absolute;
    border-radius: 50px;
    background-color: #ff5200;
    width: 25px;
    height: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    top: -2px;
    right: 0px;
}

.prediction_shortcut_preview_number_inner_unconfirmed {
	float: right;
	visibility: hidden;
    border-radius: 50px;
    background-color: #ff5200;
    width: 25px;
    height: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
	line-height: 22px;
	margin: 4px 5px 0px 0px;
}

.prediction_shortcut_preview_number_inner_confirmed {
	float: right;
	visibility: hidden;
    border-radius: 50px;
    background-color: #ff5200;
    width: 25px;
    height: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
	line-height: 22px;
	margin: 4px 5px 0px 0px;
}

.prediction_shortcut_table {
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	text-align: center;
}

.prediction_shortcut_table tr.unconfirmed td:not(:first-child):hover {
	cursor: pointer;
	background-color: #e9e9e9;
}

.prediction_shortcut_table td:nth-child(1) {
	width: 13%;
	font-size: 12px;
	border-right: 1px solid #bbb;
}

.prediction_shortcut_table td:nth-child(2) {
	width: 36%;
	font-size: 14px;
	border-right: 1px solid #bbb;
}

.prediction_shortcut_table td:nth-child(3) {
	width: 15%;
	font-size: 14px;
	border-right: 1px solid #bbb;
}

.prediction_shortcut_table td:nth-child(4) {
	width: 36%;
	font-size: 14px;
	border-right: 1px solid #bbb;
}

.prediction_shortcut_table td.active {
	background-color: #ffc33a !important;
	border: 2px solid black;
}

.prediction_shortcut_list label {
	cursor: pointer;
	font-weight: normal;
	margin: 0px 5px 0px 0px;
}

.prediction_shortcut_list label:hover {
	font-weight: bold;
}

.prediction_shortcut_list label input {
    cursor: pointer;
    margin: 0px 10px 0px 5px !important;
    vertical-align: text-bottom;
}

.prediction_shortcut_list tr {
	background-color: #f3f3f3 !important;
	color: #333 !important;
}

.prediction_shortcut_container .do_prediction {
	margin-right: 5px;
	background-color: #ffa500;
	font-weight: bold;
}
.prediction_shortcut_container .do_prediction:hover {
	background-color: #f69f00;
}

.prediction_shortcut_container .prediction_shortcut_close {
	font-weight: bold;
}

.feedback_container {
	display: none;
    height: 330px;
    width: 520px;
    position: fixed;
    right: 15px;
    bottom: 15px;
	background-color: #f3f3f3;
	border-radius: 5px;
	box-shadow: 0px 0px 3px;
	z-index: 10000;
	padding: 10px 10px;
}

.feedback_button_container {
    height: 80px;
    width: 70px;
    position: fixed;
    right: 10px;
    bottom: 0px;
}

.feedback_button {
    height: 65px;
    width: 65px;
    background-color: #1f92ff;
    text-align: center;
    border: 2px solid #b3d7ff;
	border-radius: 50px;
    font-size: 45px;
    cursor: pointer;
    color: #fff;
    line-height: 59px;
}

.feedback_icon {
	margin-left: 4px;
}

.feedback_button:hover {
	border-color: #c2dfff;
	color: #072848;
}

.feedback_title_container {
	font-weight: bold;
	font-size: 16px;
	padding: 5px 0px 15px 0px;
}

#send_feedback {
	margin-right: 5px;
	background-color: #1f92ff;
	color: white;
}

#send_feedback:hover {
	background-color: #148dff;
}

.bottom_fixed_button_container {
    right: 10px;
}

.bottom_fixed_button_container ~ .bottom_fixed_button_container {
    right: 80px;
}

.bottom_fixed_container .btn {
	font-weight: bold;
}

.bottom_fixed_container table {
	border: 1px solid #999;
}

.read_board_title {
	border-bottom: 1px solid #ccc;
	padding: 15px;
	font-weight: bold;
}

.read_board_writer {
	padding: 10px;
}

.read_board_content {
	padding: 10px;
	margin-bottom: 20px;
	/*max-height: 400px;*/
	overflow: auto;
}

.boardMainContainer {
	background-color: #fff;
	padding: 15px;
}

.boardNum {
	border: 2px solid #333;
    border-radius: 10px;
    display: inline-block;
    height: 25px;
    margin-right: 15px;
    padding: 0px 3px;
    font-weight: bold;
}

.badge_ready {
	background: url(/image/badge_ready.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.badge_bronze {
	background: url(/image/badge_bronze.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.badge_silver {
	background: url(/image/badge_silver.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.badge_gold {
	background: url(/image/badge_gold.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.badge_platinum {
	background: url(/image/badge_platinum.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.badge_diamond {
	background: url(/image/badge_diamond.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.writerBadge {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}

.writerNick {
	font-weight: bold;
	text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.writeDate {
	float: right;
	color: #999;
	font-size: 12px;
	margin-top: 8px;
}

#boardSrc {
	float: right;
	font-size: 12px;
	color: #999;
	cursor: pointer;
	margin-right: 5px;
}

#copySrc {
	float: right;
	font-size: 10px;
	margin-top: -2px;
}

.boardSrc:hover {
	color: #999;
}

.read_board_comments {
	background-color: #eee;
	padding: 10px 10px 0px 10px;
	margin-bottom: 20px;
}

.commentsContainer {
	padding: 0px;
}

.commentsEach {
	list-style: none;
	min-height: 50px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
}

.commentsEach:first-child,
.commentsEach:last-child {
	border-bottom: none;
}

.commentsEach.noComments {
	text-align: center;
	font-weight: bold;
}

.commentDiv {
	display: flex;
	margin-bottom: 10px;
}

#writeCommentsInput {
	height: 60px;
	display: inline-block;
	margin-right: 15px;
	resize: none;
}

#writeComment {
	display: inline-block;
	height: 60px;
	width: 70px;
}

.commentUserInfo {
	/*margin-bottom: 10px;*/
}

.commentWriterTier {
	width: 15px;
	height: 15px;
	display: inline-block;
	background-color: #fff;
	margin-bottom: -4px;
	margin-right: 4px;
}

.commentWriter {
	display: inline-block;
	font-weight: bold;
	text-overflow: ellipsis;
    overflow: hidden;
}

.commentContent {
	padding: 15px 20px;
	word-break: break-all;
}

.commentWriteDate {
	float: right;
	color: #999;
	font-size: 12px;
}

.commentLabel {
	margin: 10px 25px 5px 25px;
    border-bottom: 1px dashed #ccc;
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 5px;
}

.read_board_tools {
	padding: 10px;
}

#like.my_like {
	color: #359dda;
}

#notice {
	position: fixed;
	top: 80px;
	/*right: -230px;*/
	right: 10px;
	padding: 10px;
	border: 1px solid #999;
	display: none;
	width: 180px;
	height: 60px;
	overflow: auto;
	border-radius: 10px;
	background-color: #fff;
	cursor: pointer;
	/*margin: 10px 10px 0px 0px;*/
	box-sizing: initial !important;
}

#notice-icon {
	float: left;
	width: 20px;
	height: 100%;
	font-size: 20px;
}

#notice-icon.alert {
	color: #c14040;
	padding: 0px !important;
	margin-bottom: 0px !important;
	border: 0px !important;
	border-radius: 0px !important;
}

#notice-icon.success {
	color: #3d9e20;
}

#notice-content {
	padding: 0px 5px;
	color: #333;
	float: left;
	width: 150px;
	font-size: 13px;
	height: 100%;
	overflow: auto;
}

#boardReadTitle {
	text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 450px;
    margin-bottom: -5px;
}

/*
	Media Query
*/

@media all and (min-device-width: 541px) and (max-device-width: 768px) {
	#header .main_menu,
	#header .tools {
		width: 100%;
	}

	#header .main_menu > li {
		width: 100%;
		background-color: #444;
		z-index: 9999;
		border-bottom: 1px solid #fff;
	}

	#header .tools > li {
		width: 100%;
		background-color: #444;
		z-index: 9999;
	}

	#header .tools > li:not(:last-child) {
		border-bottom: 1px solid #fff;
	}

	#header .tools > .logout,
	#header .tools > .signup {
		border-bottom: none !important;
	}

	.prediction_shortcut_container {
		width: 92%;
	}

	.board_wrapper {
		margin: 0 30px;
		display: block;
	}

	.main_section .board_section {
		width: 100%;
		padding: 15px !important;
	}

	.container_box {
		margin: 30px 0px;
	}

	.writeDate {
		font-size: 10px;
	}

	#boardReadTitle {
		width: 225px;
	}

	#boardSrc {
		font-size: 10px;
	}

	.writerNick {
		width: 125px;
	}

	.commentWriter {
		width: 200px;
	}
}

@media all and (max-device-width: 540px) {
	#header .main_menu,
	#header .tools {
		width: 100%;
	}

	#header .main_menu > li {
		width: 100%;
		background-color: #444;
		z-index: 9999;
		border-bottom: 1px solid #fff;
	}

	#header .tools > li {
		width: 100%;
		background-color: #444;
		z-index: 9999;
	}

	#header .tools > li:not(:last-child) {
		border-bottom: 1px solid #fff;
	}

	#header .tools > .logout,
	#header .tools > .signup {
		border-bottom: none !important;
	}

	#header .logo {
		height: 45px;
		width: 130px;
		margin-top: 15px;
	}

	.main_logo_section {
		height: 200px;
	}

	.main_logo_section .logo {
		height: 100px;
		width: 300px;
		/*margin-top: 100px;*/
	}

	.prediction_shortcut_container {
		width: 92%;
	}

	.board_wrapper {
		margin: 0 10px;
		display: block;
	}

	.main_section .board_section {
		width: 100%;
		padding: 5px !important;
	}

	.container_box {
		margin: 30px 0px;
	}

	.bottom_fixed_container {
		width: 92%;
		z-index: 10000;
	}

	.writeDate {
		font-size: 10px;
	}

	#boardReadTitle {
		font-size: 11px;
		width: 200px;
	}

	#boardSrc {
		font-size: 10px;
	}

	.writerNick {
		width: 125px;
	}

	.read_board_title {
		padding: 5px !important;
		display: inline-block;
	}

	.read_board_content {
		font-size: 11px;
	}

	.writerBadge {
		width: 15px;
		height: 15px;
	}

	.writerNick {
		font-size: 11px;
		width: 150px;

	}

	#boardSrc {
		display: none;
	}

	.read_board_tools > button {
		font-size: 10px;
	}

	.read_board_comments {
		padding: 5px !important;
	}

	.commentsEach {
		padding: 5px;
	}

	.board_btns > button {
		font-size: 11px;
	}

	#writeCommentsInput {
		height: 40px;
		font-size: 11px;
		margin-right: 5px;
	}

	#writeComment {
		height: 40px;
		width: 40px;
		font-size: 12px;
		padding: 6px 8px;
	}

	.commentLabel {
		font-size: 11px;
	}

	.commentWriteDate {
		font-size: 10px;
	}

	.commentWriter {
		font-size: 11px;
		width: 115px;
	}

	.commentContent {
		padding: 10px 15px;
		font-size: 11px;
	}

	.note-toolbar button {
		font-size: 11px;
	}
}
