.main_section {
    /*opacity: 0.85;*/
    text-align: center;
}

.container {
    position: relative;
}

nav {
    position: absolute;
    left: 0px;
    width: 200px;
}

section {
    /* position is static by default */
    margin-left: 100px;
    margin-right: 100px;
}

/*footer {*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*height: 70px;*/
    /*background-color: white;*/
    /*width: 100%;*/
/*}*/

body {
    margin-bottom: 120px;
    line-height: 1;
    background: url(http://i.imgur.com/MQB99sg.jpg);
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    color: #333f4d;
}

.tab_container {
    width: 780px;
    margin: 30px auto;
}

#goToPredictionSystem,
#goToOtherPredict {
    width: 780px;
    margin-top: 0px;
    overflow: hidden;
    min-height: 530px;
    position: relative;
}

.predictedUsers {
    float: left;
    border-right: 1px solid #ccc;
    padding: 20px;
    width: 50%;
    height: 100%;
}

.predictedUsersList {
    background-color: #fff;
    border: 1px solid #aaa;
    height: 360px;
    overflow: auto;
}

.predictedUsersList > div {
    height: 45px;
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.predictedUserBadge {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 20px;
    margin-top: 2px;
}

.predictedUserInfo {
    font-size: 17px;
    position: relative;
    top: 5px;
}

.predictedUserNickname {
    font-weight: bold;
}

.predictedUserRating {
    color: #f9c037;
}

.predictedUsersList > div:hover {
    background-color: #eee;
}

.userPredictData {
    float: left;
    padding: 20px;
    width: 50%;
    height: 100%;
}

.predictedUserRecordData {
    text-align: left;
}

.predictedUserInfoDiv {
    margin-bottom: 10px;
}

.predictedUserInfoDiv.noMargin {
    margin-bottom: 0px !important;
}

.predictedUserInfoLabel {
    width: 150px;
}

#viewBtnDiv,
#isShownDiv {
    display: none;
}

#viewThisUsersPredict,
#isShownPredict {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
}

#viewThisUsersPredict > img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

#viewPredictionDesc {
    font-size: 12px;
    color: #ec0c0c;
}

#predictedUserPredictBox {
    width: 300px;
    height: 100px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px auto;
    background-color: #ea8c3c;
    color: #fff;
    border-radius: 10px;
    display: none;
}

#predictedUserPredictResult {
    font-size: 22px;
    padding: 10px;
    font-weight: bold;
}

.predictedUserInfo_tier {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    top: 10px;
    margin-right: 5px;
}

.eachPredictedUser.active {
    background-color: #c9f1c5;
}

.predictedUserInfoContent {
    width: 145px;
    display: inline-block;
    text-align: center;
}





.chat-wrapper{
    background: #ffffff;
    width: 780px;
    margin: 30px auto;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    overflow: hidden;
    min-height: 530px;
    position: relative;
}

.chat-title{
    padding: 14px;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
}


footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

b{
    font-weight: bold;
}
.window-wrapper{
    background: #fff;
    width: 780px;
    /*margin: 100px auto;*/
    margin-top: 0px;
    /*border-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);*/
    overflow: hidden;
    min-height: 530px;
    position: relative;
}
.window-title{
    position: relative;
}

.window-area{
    width: 605px;
    float: left;
}

#chat-content{
    margin : 0px;
    padding: 0px;
}
#chat-content li{
    padding: 10px 15px 10px 15px;
}

.chat-area {
    border-top: 1px solid #cfdae1;
    border-right: 1px solid #cfdae1;

    box-shadow: inset 0 1px 3px rgba(207, 218, 225, 0.42);
}
.title {
    padding: 10px;
    overflow: hidden;
    line-height: 15px;
}

.chat-area .chat-list{
    height: 432px;
    /*border-top: 1px solid #cfdae1;*/
    border-bottom: 1px solid #cfdae1;
    /*border-right: 1px solid #cfdae1;*/
    overflow-y: auto;
    outline: none;
}
.chat-area ul{
    margin-right: -4px;
}
.chat-area ul > li{
    border-top: 1px solid #cfdae1;
    overflow: hidden;
    position: relative;
    text-align: left;
}
.chat-area ul > li.me{
    background: #e4eaee;
}
.chat-area ul > li:first-child{
    border-top: none;
}
.chat-area ul .name{
    padding: 14px;
    text-align: center;
    width: 100px;
    float: left;
    color: #5d7185;
    font-weight: bold;
    line-height: 20px;
}
.chat-area ul .message{
    padding: 14px;
    border-left: 1px solid #cfdae1;
    float: left;
    color: #333f4d;
    width: 214px;
}
.chat-area ul .message > p{
    line-height: 20px;
}
.chat-area ul .message > p > .blue-label{
    background: #6ea0ff;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
}
.chat-area ul .message .msg-time{
    position: absolute;
    top:16px;
    right: 15px;
    color: #738ba3;
    font-size: 9px;
}
.input-area{
    background: #e4eaee;
    padding: 6px;
    overflow: hidden;
    border-top: 1px solid #cfdae1;
}
.input-area .input-wrapper{
    background: #fff;
    border: 1px solid #cfdae1;
    border-radius: 5px;
    overflow: hidden;
    width: 60%;
}
.input-area .input-wrapper input{
    height: 50px;
    line-height: 30px;
    border: 0;
    margin: 0;
    outline: none;
    color: #5D7185;
    width:100%;
    padding:10px;
}
.input-area .input-wrapper i{
    font-size: 18px;
    color: #a0b4c0;
    margin-right: 10px;
    margin-top:8px;
    cursor: pointer;
    float:left;
}
.input-area > input{
    background: #a0b4c0;
    border: none;
    letter-spacing:1px;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    float:left;
    height: 50px;
    line-height: 30px;
    cursor: pointer;
    font-family: 'Open Sans', Arial, sans-serif;
    outline: none;
}
.right-tabs{
    width: 175px;
    height: 498px;
    overflow: auto;
    float: left;
    border-top: 1px solid #cfdae1;

}
.right-tabs > ul.tabs{
    overflow: hidden;
}
.right-tabs > ul.tabs > li{
    float: left;
    text-align: center;
    border-left:1px solid #cfdae1;
    border-bottom: 1px solid #cfdae1;
}
.right-tabs > ul.tabs > li > a{
    border-left: 1px solid #cfdae1;
    color: #72a3ff;
    display: block;
    background: #eef2f8;
    padding: 8px 0;
    transition: background 0.2s linear;
}

.right-tabs > ul.tabs > li > a >i {
    font-size: 18px
}
ul.users-container {
    padding: 10px;
    color: #6e7f91;

}

.member-list {
    padding: 10px;
}

.member-list > li {
    padding: 5px 0;
    text-align: left;
}

.my-account{
    float:left;
}

.my-account .name{
    float: left;
    height:50px;
    line-height: 50px;
    color: #5d7185;
}
.my-account .image >img{
    float: left;
    width:50px;
    height:50px;
    border-radius: 30px;
}

.chatTime {
    float: right;
    font-size: 11px;
}

.page_title {
    font-size: 28px;
}

.page_title .teamTitleSection {
    width: 800px;
    margin: 0 auto;
    padding-top: 20px;
    display: inline-block;
    font-size: 28px;
}

.page_title .teamScoreSection {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
    display: inline-block;
    font-size: 28px;
}

#goalsHomeTeam {
    width: 350px;
    float: left;
}

#goalsAwayTeam {
    width: 350px;
    float: right;
}

#chatMatchStatus {
    width: 50px;
    display: inline-block;
    font-size: 20px;
}

.page_title .teamNameTitle.homeTeamSection {
    width: 350px;
    float: left;
}

.page_title .teamNameTitle.awayTeamSection {
    width: 350px;
    float: right;
}

.page_title .teamImg {
    /*width: 50px;*/
    height: 50px;
    margin-right: 10px;
}

li .badge_bronze,
li .badge_silver,
li .badge_gold,
li .badge_platinum,
li .badge_diamond,
li .badge_ready {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}

.showUserList {
    display: none;
    float: right;
    border: 1px solid #ccc;
}

#chatMatchStatus.playing {
    color: #49de41;
}

#chatMatchStatus.finished {
    color: #e61e1e;
}

/*
    Media Query
*/

@media all and (min-device-width: 621px) and (max-device-width: 768px) {
    .page_title {
        padding-top: 25px;
    }

    .board_wrapper {
        margin: 0 65px;
    }

    .main_section .tab_container {
        width: 100%;
    }

    .window-wrapper {
        width: 100%;
    }

    .window-area {
        width: 70% !important;
        display: block !important;
    }

    .right-tabs {
        width: 30% !important;
        display: block !important;
    }

    .main_section {
        margin: 0 20px;
    }

    .member-list > li {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #message-button {
        width: 50px !important;
    }

    .my-account {
        margin-right: 10px;
    }

    #goToOtherPredict {
        width: 100%;
        position: relative;
    }

    .predictedUsers {
        width: 100%;
        height: initial;
    }

    .predictedUsersList {
        height: 300px;
    }

    .userPredictData {
        width: 100%;
    }

    .predictedUserRecordData {
        text-align: center;
    }

    .page_title .teamNameTitle {
        width: 50% !important;
    }

    #goalsHomeTeam {
        position: relative;
        left: -90px;
        display: inline-block;
        width: initial;
        float: none !important;
    }

    #goalsAwayTeam {
        position: relative;
        left: 90px;
        display: inline-block;
        width: initial;
        float: none !important;
    }

    #chatMatchStatus {
        display: inline-block;
    }

    .teamTitleSection img {
        height: 25px !important;
    }

    .teamTitleSection {
        width: 100% !important;
        font-size: 24px !important;
    }

    .teamScoreSection {
        width: 100% !important;
        font-size: 24px !important;
    }
}

@media all and (min-device-width: 541px) and (max-device-width: 620px) {
    .page_title {
        padding-top: 25px;
    }

    .board_wrapper {
        margin: 0 65px;
    }

    .main_section .tab_container {
        width: 100%;
    }

    .window-wrapper {
        width: 100%;
    }

    .window-area {
        width: 70% !important;
        display: block !important;
    }

    .right-tabs {
        width: 30% !important;
        display: block !important;
    }

    .main_section {
        margin: 0 20px;
    }

    .member-list > li {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #message-button {
        width: 50px !important;
    }

    .my-account {
        margin-right: 10px;
    }

    .input-wrapper {
        width: 50% !important;
    }

    #goToOtherPredict {
        width: 100%;
        position: relative;
    }

    .predictedUsers {
        width: 100%;
        height: initial;
    }

    .predictedUsersList {
        height: 300px;
    }

    .userPredictData {
        width: 100%;
    }

    .predictedUserRecordData {
        text-align: center;
    }

    .page_title .teamNameTitle {
        width: 50% !important;
    }

    #goalsHomeTeam {
        position: relative;
        left: -65px;
        display: inline-block;
        width: initial;
        float: none !important;
    }

    #goalsAwayTeam {
        position: relative;
        left: 65px;
        display: inline-block;
        width: initial;
        float: none !important;
    }

    #chatMatchStatus {
        display: inline-block;
    }

    .teamTitleSection img {
        height: 25px !important;
    }

    .teamTitleSection {
        width: 100% !important;
        font-size: 20px !important;
    }

    .teamScoreSection {
        width: 100% !important;
        font-size: 20px !important;
    }
}

@media all and (min-device-width: 441px) and (max-device-width: 540px) {
    .page_title {
        padding-top: 25px;
    }

    .board_wrapper {
        margin: 0 20px;
    }

    .main_section .tab_container {
        width: 100%;
    }

    .window-wrapper {
        width: 100%;
    }

    .window-area {
        width: 100% !important;
    }

    .right-tabs {
        width: 100% !important;
        display: none;
    }

    .main_section {
        margin: 0 20px;
    }

    .member-list > li {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #message-button {
        width: 50px !important;
    }

    .my-account {
        margin-right: 10px;
    }

    .input-wrapper {
        width: 60% !important;
    }

    .showUserList {
        display: block;
    }

    #goToOtherPredict {
        width: 100%;
        position: relative;
    }

    .predictedUsers {
        width: 100%;
        height: initial;
    }

    .predictedUsersList {
        height: 300px;
    }

    .userPredictData {
        width: 100%;
    }

    .predictedUserRecordData {
        text-align: center;
    }

    .page_title .teamNameTitle {
        width: 50% !important;
    }

    #goalsHomeTeam {
        position: relative;
        left: -45px;
        display: inline-block;
        width: initial;
        float: none !important;
    }

    #goalsAwayTeam {
        position: relative;
        left: 45px;
        display: inline-block;
        width: initial;
        float: none !important;
    }

    #chatMatchStatus {
        display: inline-block;
    }

    .teamTitleSection img {
        height: 25px !important;
    }

    .teamTitleSection {
        width: 100% !important;
        font-size: 16px !important;
    }

    .teamScoreSection {
        width: 100% !important;
        font-size: 20px !important;
    }
}

@media all and (min-device-width: 381px) and (max-device-width: 440px) {
    .page_title {
        padding-top: 25px;
    }

    .board_wrapper {
        margin: 0 20px;
    }

    .main_section .tab_container {
        width: 100%;
    }

    .window-wrapper {
        width: 100%;
    }

    .window-area {
        width: 100% !important;
    }

    .right-tabs {
        width: 100% !important;
        display: none;
    }

    .main_section {
        margin: 0 20px;
    }

    .member-list > li {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #message-button {
        width: 50px !important;
    }

    .my-account {
        margin-right: 10px;
    }

    .input-wrapper {
        width: 50% !important;
    }

    .showUserList {
        display: block;
    }

    #goToOtherPredict {
        width: 100%;
        position: relative;
    }

    .predictedUsers {
        width: 100%;
        height: initial;
    }

    .predictedUsersList {
        height: 300px;
    }

    .userPredictData {
        width: 100%;
    }

    .predictedUserRecordData {
        text-align: center;
    }

    .page_title .teamNameTitle {
        width: 50% !important;
    }

    #goalsHomeTeam {
        position: relative;
        left: -35px;
        display: inline-block;
        width: initial;
        float: none !important;
    }

    #goalsAwayTeam {
        position: relative;
        left: 35px;
        display: inline-block;
        width: initial;
        float: none !important;
    }

    #chatMatchStatus {
        display: inline-block;
    }

    .teamTitleSection img {
        height: 25px !important;
    }

    .teamTitleSection {
        width: 100% !important;
        font-size: 16px !important;
    }

    .teamScoreSection {
        width: 100% !important;
        font-size: 20px !important;
    }
}

@media all and (max-device-width: 380px) {
    .page_title {
        padding-top: 25px;
    }

    .board_wrapper {
        margin: 0 20px;
    }

    .main_section .tab_container {
        width: 100%;
    }

    .window-wrapper {
        width: 100%;
    }

    .window-area {
        width: 100% !important;
    }

    .right-tabs {
        width: 100% !important;
        display: none;
    }

    .main_section {
        margin: 0 20px;
    }

    .member-list > li {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #message-button {
        width: 50px !important;
    }

    .my-account {
        margin-right: 10px;
    }

    .input-wrapper {
        width: 42% !important;
    }

    .showUserList {
        display: block;
    }

    #goToOtherPredict {
        width: 100%;
        position: relative;
    }

    .predictedUsers {
        width: 100%;
        height: initial;
    }

    .predictedUsersList {
        height: 300px;
    }

    .userPredictData {
        width: 100%;
    }

    .predictedUserRecordData {
        text-align: center;
    }

    .predictedUserInfo {
        font-size: 13px !important;
    }

    .predictedUserInfoLabel {
        width: 110px;
    }

    .predictedUserInfoContent {
        width: 125px;
    }

    #predictedUserPredictBox {
        width: 220px;
    }

    .tab_container > .nav-tabs {
        font-size: 11px !important;
    }

    .page_title .teamNameTitle {
        width: 50% !important;
    }

    #goalsHomeTeam {
        position: relative;
        left: -25px;
        display: inline-block;
        width: initial;
        float: none !important;
    }

    #goalsAwayTeam {
        position: relative;
        left: 25px;
        display: inline-block;
        width: initial;
        float: none !important;
    }

    #chatMatchStatus {
        display: inline-block;
    }

    .teamTitleSection img {
        height: 25px !important;
    }

    .teamTitleSection {
        width: 100% !important;
        font-size: 13px !important;
    }

    .teamScoreSection {
        width: 100% !important;
        font-size: 20px !important;
    }
}
