@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	margin: 0px !important;
	font-family: "Nanum Gothic", sans-serif !important;
	/*background-color: #145c86 !important;*/
	background-image: url(http://i.imgur.com/MQB99sg.jpg);	
	background-repeat: repeat;
	background-size: 100% 100vh;
	background-attachment: fixed;
}


/*
	<-- HEADER -->
*/

#header_wrap {
	/* border-bottom: 1px solid #ccc; */
	height: 70px;
	background-color: #444;
	/* opacity: 0.85; */
	flex: 0 0 70px;
}

#header {
	/*max-width: 1200px;*/
	margin-left: auto;
	margin-right: auto;
	/* height: 100%; */
	/* padding-top: 10px; */
}

.logo {
	/* color: #fff;
    text-shadow: #333 0px 2px, #333 2px 0px, #333 -2px 0px,
    #333 0px -2px, #333 -1.4px -1.4px, #333 1.4px 1.4px,
    #333 1.4px -1.4px, #333 -1.4px 1.4px;
	font-size: 40px;

	position: relative;
	display: inline-block;

	line-height: 70px;
	vertical-align: middle;
	cursor: pointer;
	padding: 0px 20px 0px 20px;
	font-family: Jazz LET, fantasy; */
	background: url(/image/zonexpert_logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#header > .logo {
	height: 70px;
	width: 200px;
	float: left;
}

#header > .main_menu {
	display: inline-block;
	line-height: 70px;
	vertical-align: middle;
	margin: 0px;
}

#header > .tools {
	float: right;
	display: inline-block;
	line-height: 70px;
	vertical-align: middle;
	margin: 0px;
}

#header > .tools > .my_page,
#header > .tools > .logout,
#header > .tools > .login,
#header > .tools > .signup,
#header > .main_menu > .menu_rank,
#header > .main_menu > .menu_schedule,
#header > .main_menu > .menu_board {
	/* float: right;
	text-align: center;
	border-left: 1px solid #ccc;
	height: 100%;
	width: 70px; */
	/* float: right; */
	display: inline-block;
	position: relative;
	/* height: 50px; */
	padding: 0px 20px 0px 20px;
	color: #fff;
	cursor: pointer;
}

#header > .tools > .my_page:hover,
#header > .tools > .logout:hover,
#header > .tools > .login:hover,
#header > .tools > .signup:hover,
#header > .main_menu > .menu_rank:hover,
#header > .main_menu > .menu_schedule:hover,
#header > .main_menu > .menu_board:hover {
 	background-color: #333;
}

#header > .tools > .menu_search {
	display: inline-block;
	position: relative;
	margin-right: 30px;
}

#header > .tools > .menu_search > button {
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	background: none;
	padding: 11px;
	cursor: pointer;
	line-height: 0px;
}

#header > .tools > .menu_search > button:hover {
	background-color: #ccc;
	height: 100%;
	border-radius: 0px 5px 5px 0px;
}

#header > .tools > .menu_search > input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 35px;
	padding: 5px 30px 5px 5px;
	font-size: 14px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ccc;
}

/* #header a {
	color: #fff;
	text-decoration: none;
} */


/*
	<-- BODY MAIN LOGO SECTIOM-->
*/


.main_logo_section {
	/* text-align: center; */
	/* line-height: 300px; */
	height: 300px;
	/* vertical-align: middle; */
	background:
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
}

.main_logo_section > .logo_wrapper {
	position: absolute;
	width: 100%;
}

.main_logo_section .logo {
	height: 180px;
	width: 540px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

/*
	<-- CONTAINER_BOX -->
*/

.container_box {
	background-color: #eee;
	border-radius: 10px;
	position: relative;
	display: inline-block;
	margin: 30px 30px 30px 30px;
}

table {
	border: 1px solid #999;
	width: 100%;
}

table > tbody > tr {
	height: 50px;
}

table > tbody > tr > td.left {
	text-align: left;
}

table > tbody > tr:first-child {
	background-color: #333;
	color: #fff;
}

table > tbody > tr:not(:last-child) {
	border-bottom: 1px solid #999;
}

.rank_table_tier {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	display: inline-block;
	margin-bottom: -5px;
}

.badge_ready {
	background: url(/image/badge_ready.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.badge_bronze {
	background: url(/image/badge_bronze.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.badge_silver {
	background: url(/image/badge_silver.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.badge_gold {
	background: url(/image/badge_gold.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.badge_platinum {
	background: url(/image/badge_platinum.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.badge_diamond {
	background: url(/image/badge_diamond.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.table_tier_name {
	display: inline-block;
	margin-bottom: 5px;
}

.page_title {
	font-size: 48px;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 50px;
	color: #fff;
}

.prediction_shortcut_container {
	display: none;
    height: 300px;
    width: 800px;
    position: fixed;
    right: 30px;
    bottom: 30px;
	background-color: #ffa500;
	border-radius: 5px;
	border: 2px solid #ffdfa4;
}

/*.prediction_shortcut_close {
    position: absolute;
    right: 6px;
    top: 0px;
    font-size: 20px;
    color: #674403;
    cursor: pointer;
}

.prediction_shortcut_close:hover {
	color: #3a2500;
}*/

.prediction_shortcut_title {
	height: 30px;
}

.prediction_shortcut_list {
	height: 230px;
	overflow-y: scroll;
}

.prediction_shortcut_list table {
	width: 100%;
}

.prediction_shortcut_button_container {
    height: 100px;
    width: 100px;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.prediction_shortcut_button {
    height: 70px;
    width: 70px;
    background-color: #ffa500;
    text-align: center;
    border: 2px solid #ffdfa4;
	border-radius: 50px;
    font-size: 50px;
    cursor: pointer;
    color: #674403;
}

.prediction_shortcut_icon {
	margin-left: 4px;
}

.prediction_shortcut_button:hover {
	background-color: #e69500;
	border-color: #ffdfa4;
	color: #3a2500
}

.prediction_shortcut_preview_number {
	display: none;
    position: absolute;
    border-radius: 50px;
    background-color: #ff5200;
    width: 25px;
    height: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    top: 0px;
    right: 21px;
}

.prediction_shortcut_list td:nth-child(1) {
	width: 15%;
}

.prediction_shortcut_list td:nth-child(2) {
	text-align: center;
	width: 25%;
}

.prediction_shortcut_list td:nth-child(3) {
	width: 5%;
}

.prediction_shortcut_list td:nth-child(4) {
	text-align: center;
	width: 25%;
}

.prediction_shortcut_list td:nth-child(5) {
	text-align: right;
	width: 30%;
}

.prediction_shortcut_list label {
	cursor: pointer;
	font-weight: normal;
	margin: 0px 5px 0px 0px;
}

.prediction_shortcut_list label:hover {
	font-weight: bold;
}

.prediction_shortcut_list label input {
    cursor: pointer;
    margin: 0px 10px 0px 5px !important;
    vertical-align: text-bottom;
}

.prediction_shortcut_list tr {
	background-color: #ffa500 !important;
	color: #333 !important;
}

#notice {
	position: fixed;
	top: 80px;
	/*right: -230px;*/
	right: 10px;
	padding: 10px;
	border: 1px solid #999;
	display: none;
	width: 180px;
	height: 60px;
	overflow: auto;
	border-radius: 10px;
	background-color: #fff;
	cursor: pointer;
	/*margin: 10px 10px 0px 0px;*/
}

#notice-icon {
	float: left;
	width: 20px;
	height: 100%;
	font-size: 20px;
}

#notice-icon.alert {
	color: #c14040;
}

#notice-icon.success {
	color: #3d9e20;
}

#notice-content {
	padding: 0px 5px;
	color: #333;
	float: left;
	width: 150px;
	font-size: 13px;
	height: 100%;
	overflow: auto;
}
