
body {
	background-color: #ebeef1 !important;
}

.login_section {
	text-align: center;
}

.login_box_wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.login_box {
	width: 500px;
	/*height: 254px;*/
	background-color: #fff;
	border-radius: 0px;
	border: 1px solid #dedede;
	/*margin: 0 auto;*/
}

.login_section .logo {
	margin: 0 auto;
	width: 350px;
	height: 155px;
	margin-top: 60px;
}

.login_box > .row {
	/*padding: 10px;*/
	height: 50px;
}

.login_box > .row:not(:last-child) {
	border-bottom: 1px solid #eee;
}

.login_box > .row > .login_row_sub {
	float: left;
	width: 25%;
	border-right: 1px solid #eee;
	/*height: 100%;*/
	padding: 16px;
}

.login_box > .row > .login_row_content {
	padding: 16px;
}

.login_box > .row > .login_row_content.select_row {
	padding: 12px;
}

.login_box > .row > .login_row_content > input {
	/*width: 100%;
	height: 100%;*/
	font-size: 16px;
	/*padding: 0px 5px 0px 5px;*/
	border: none;
	width: 55%;
}

.login_box > .row > .login_row_content > input::placeholder {
	color: #bfbcbc;
}

.login_row_content > select{
	margin: 0px 10px 0px 10px;
	width: 100px;
	height: 25px;
}

.login-btns {
	width: 500px;
	margin: 0 auto;
}

.login-btns > button {
	width: 100%;
	height: 40px;
	cursor: pointer;

}

#login_btn {
	/*background-color: #145c86;*/
	background-color: #2b8cc5;
	border: none;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
}

.checkbox_wrapper {
	width: 500px;
	height: 30px;
	margin: 0 auto;
	font-size: 14px;
}

.checkbox_wrapper > .checkbox_label {
	float: left;
	margin-left: 5px;
	cursor: pointer;
	color: #fff;
}

.checkbox_wrapper > .checkbox_label > input {
	cursor: pointer;
}

/* browswer */
@media (max-width: 562px){
	.login_box{
		width: 80%;
	}
	.login_section .logo{
		width: 200px;
		height: 90px;
	}
	/*.login_box > .row{*/
	/*height: 38px;*/
	/*}*/
	.login_box > .row > .login_row_content > input {
		font-size: 16px;
		border: none;
		width: 90%;
	}

	.login-btns{
		width: auto;
	}
	#login_btn{
		width: 80%;
		height: 50px;
		font-size: 16px;
	}
	.login_row_sub{
		display: none;
	}
	.checkbox_wrapper{
		width: 80%;
		font-size: 16px;
	}
	.checkbox_wrapper > .checkbox_label > input {
		cursor: pointer;

	}
}
/* device */
@media (max-device-width: 768px) {
	.login_box{
		width: 80%;
	}
	.login_section .logo{
		width: 200px;
		height: 90px;
	}
	/*.login_box > .row{*/
		/*height: 38px;*/
	/*}*/
	.login_box > .row > .login_row_content > input {
		font-size: 16px;
		border: none;
		width: 90%;
	}

	.login-btns{
		width: auto;
	}
	#login_btn{
		width: 80%;
		height: 50px;
		font-size: 16px;

	}
	.login_row_sub{
		display: none;
	}
	.checkbox_wrapper{
		width: 80%;
		font-size: 16px;
	}
	.checkbox_wrapper > .checkbox_label > input {
		cursor: pointer;

	}
}