.main_section {
	/*background-color: #145c86;
	opacity: 0.85;*/
	text-align: center;
}

.mypage_st1 {
    font-size: 24px;
    color:#fff;	
}

.mypage_info1 {
	text-align: center;
    margin: 5px 5px 5px 15px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    display: inline-block;
    width: 600px;
    padding:10px 30px 10px 30px;
}

.mypage_st2 {
	text-align:center;
    font-size: 15px;
	/*background-color: #fff;*/
}

.mypage_info {
	text-align: center;
    margin: 30px auto;
    padding: 10px;
    width: 880px;
    border: 1px solid red;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

.changeinfo {
	/*vertical-align: top;*/
    padding: 10px;
    width: 880px;
    margin: 30px auto;
    /*width: 150px;
    height: 50px;*/
    /*display: inline-block;*/
    background-color: #fff;
    border-radius: 5px;
}

.myPointsManagementField {
    padding: 10px;
    width: 880px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 5px;
}

.mypage_article {
    /*vertical-align: top;*/
    margin: 5px 5px 5px 15px;
    padding: 10px;
    width: 185px;
    height: 290px;
    /*border: 1px solid red;*/
    display: inline-grid;
    /*background-color: #fff;*/
    border: 1px solid #e4e4e4;
    border-radius: 10px;
}

#changeinfo_unfold_wrap {
	text-align: center;
	vertical-align: top;
    margin: 5px 5px 5px 15px;
    padding: 10px;
    width: 880px;
    border: 1px solid red;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 10px;	
}

.mypage_info1_wrapper {
    width: 100%;
}

.mypage_info1_label {
    display: inline-block;
    width: 150px;
}

.changinfo_input_field {
    padding: 15px;
}

.changinfo_input_field .form-group > label {
    width: 150px;
    display: inline-block;
}

.changinfo_input_field .form-group > div {
    width: 600px;
    display: inline-block;
}

.changeinfo_btns {
    padding: 15px 0px;
    border-bottom: 1px solid #ccc;
}

.changeinfo_btns > button {
    width: 400px;
}

.leave_member_field {
    padding: 15px;
}
.article_btn{
    background: white;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
}
.mypage_article .mypage_img{
    font-size: 90px;
    padding-top: 10px;
    color: #f49f6b;
}

#searchMyData {
    padding: 3px 7px;
    margin-left: 10px;
}

/* device */
@media all and (min-device-width: 301px) and (max-device-width: 768px){
    .mypage_info{
        width: 96%;
    }
    .mypage_info1{
        width: 80%;
    }
    .changeinfo{
        width: 96%;
    }
    .myPointsManagementField {
        width: 96%;
    }
    .changeinfo_btns > button{
        width: 80%;
    }
    .form-group{
        width: 100%;
    }
    .changinfo_input_field .form-group > div{
        width: 90%;
    }
    .mypage_article{
        width: 45%;
        margin: 0px;
    }
    .fa-img{
        list-style:none;
        padding-left:0;

    }

}

/* device */
@media all and (min-device-width: 301px) and (max-device-width: 768px){
    .mypage_info{
        width: 96%;
    }
    .mypage_info1{
        width: 80%;
    }
    .changeinfo{
        width: 96%;
    }
    .myPointsManagementField {
        width: 96%;
    }
    .changeinfo_btns > button{
        width: 80%;
    }
    .form-group{
        width: 100%;
    }
    .changinfo_input_field .form-group > div{
        width: 90%;
    }
    .mypage_article{
        width: 45%;
        margin: 0px;
    }
}

@media all and (max-device-width: 400px){
    .article_btn{
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
    .mypage_info {
        width: 96%;
    }

    .mypage_info1 {
        width: 80%;
        padding: 10px 0px 10px 0px;
    }

    .changeinfo {
        width: 96%;
    }

    .myPointsManagementField {
        width: 96%;
    }

    .mypage_st1 {
        font-size: 20px;
        text-align: center;
    }

    .mypage_st2 {
        font-size: 12px;
        text-align: center;
    }

    .form-group > div {
        font_size: 12px;
    }

    .changeinfo_btns > button {
        width: 80%;
    }

    .changinfo_input_field .form-group > div {
        width: 90%;
    }

    .changinfo_input_field .form-group > div > input {
        font-size: 12px;
    }
    .mypage_article{
        width: 96%;
        margin: 5px 0px;
    }

    /*.article_btn{*/
    /*padding: 5px 0px;*/

    /*}*/

}
/*@media all and (max-device-width: 300px){*/
    /*.mypage_article{*/
        /*font-size: 10px;*/
    /*}*/
/*}*/