.main_section {
	/*background-color: #145c86;*/
	opacity: 0.85;
	text-align: center;
}

.schedule_wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.main_section .schedule_section {
	width: 800px;
}

.scheduledata_league_btn {
	margin-top: 10px 0px 25px 25px;
}

.scheduledata_league_btn > .league_btn {
	margin-right: 5px;
	height: 25px;
	cursor: pointer;
	width: 115px;
	margin-top: 10px;
}

.scheduledata_league_btn > .league_btn.active {
	background-color: #145c86;
	border: none;
	color: #fff;
}

.schedule_table_section {
	padding: 25px;
}

#schedule_table {
	width: 100%;
}

#schedule_table tr {
	cursor: default;
	height: 26px;
}

#schedule_table tr i {
	cursor: pointer;
}

#schedule_table tr .schedule_basket_toggle.disable i {
	cursor: default;
	color: #aaa;
}

#schedule_table tr.odd {
	background-color: #eee;
	color: #333;
}

#schedule_table tr:hover {
	background-color: #ccc;
}

#schedule_table tr td:nth-child(1) {
	width: 15%;
	font-size: 13px;
}

#schedule_table tr td:nth-child(2) {
	width: 25%;
	font-size: 16px;
}

#schedule_table tr td:nth-child(3) {
	width: 5%;
	font-size: 13px;
}

#schedule_table tr td:nth-child(4) {
	width: 25%;
	font-size: 16px;
}

#schedule_table tr td:nth-child(5) {
	width: 7.5%;
	font-size: 18px;
}

#schedule_table tr td:nth-child(6) {
	width: 7.5%;
	font-size: 18px;
}
