.main_section {
	/*background-color: #145c86;*/
	/*opacity: 0.85;*/
	text-align: center;
	margin-bottom: 60px !important;
}

.schedule_wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.main_section .schedule_section {
	width: 800px;
}

.scheduledata_league_select_btn_container {
	margin-top: 5px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}

.scheduledata_league_select_btn_container > .league_select_btn {
	height: 25px;
	cursor: pointer;
	width: 144px;
	margin: 10px 2px 0px 2px;
}

.scheduledata_league_select_btn_container > .league_select_btn.active {
	background-color: #145c86;
	border: none;
	color: #fff;
}

.scheduledata_league_btn_container {
	margin-top: 5px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

.scheduledata_league_btn_container > .league_btn {
	height: 25px;
	cursor: pointer;
	width: 144px;
	margin: 10px 2px 0px 2px;
}

.scheduledata_league_btn_container > .league_btn.active {
	background-color: #145c86;
	border: none;
	color: #fff;
}

.schedule_month_select_container {
	margin-bottom: 0px !important;
	height: 60px;
	padding-top: 10px;
	padding-right: 25px;
}

.schedule_month_select_container #schedule_month_select {
	float: right;
	width: 100px;
}

.schedule_table_section {
	padding: 0px 25px 25px 25px;
}

#schedule_table {
	width: 100%;
	border-top: 2px solid #c1c1c1;
	border-bottom: 2px solid #c1c1c1;
}

#schedule_table .schedule_table_row {
	cursor: default;
	height: 38px;
	border-bottom: 1px solid #ddd;
}

#schedule_table .schedule_table_row.changeDay {
	border-top: 2px solid #c1c1c1;
}

#schedule_table .schedule_table_row.today {
	border-left: 2px solid #ff7676;
	border-right: 2px solid #ff7676;
}

#schedule_table .schedule_table_row.today-first {
	border-left: 2px solid #ff7676;
	border-right: 2px solid #ff7676;
	border-top: 2px solid #ff7676;
}

#schedule_table .schedule_table_row.today-last {
	border-left: 2px solid #ff7676;
	border-right: 2px solid #ff7676;
	border-bottom: 2px solid #ff7676;
}

#schedule_table .schedule_table_row.today:first-child {
	border-top: 1px solid red;
}

#schedule_table .schedule_table_row.today:last-child {
	border-bottom: 1px solid red;
}

#schedule_table .schedule_table_row:hover {
	background-color: #eaeaea;
	cursor: pointer;
}

#schedule_table .schedule_table_row.notyet td:nth-child(7) {
	background-color: #ccc;
	color: #888;
	cursor: not-allowed;
}

#schedule_table .schedule_table_row.notyet:hover td:nth-child(7) {
	background-color: #ccc;
	color: #888;
	cursor: not-allowed;
}

#schedule_table .schedule_table_row:hover td:nth-child(7) {
	background-color: #ffe6bc;
}

#schedule_table .schedule_table_row.finished td:nth-child(7) {
	background-color: #ccc;
	color: #888;
	cursor: not-allowed;
}

#schedule_table .schedule_table_row.basketed td:nth-child(7) {
	background-color: #ffc33a;
}

#schedule_table .schedule_table_row.confirmed td:nth-child(7) {
	background-color: rgba(90, 183, 250, 0.83);
	cursor: not-allowed;
}

#schedule_table .schedule_table_row.failed td:nth-child(7){
	background-color: #ea4a4a;
}

#schedule_table .schedule_table_row.success td:nth-child(7){
	background-color: #35c335;
}

#schedule_table .schedule_table_row i {
	/*cursor: pointer;*/
}

#schedule_table .schedule_table_row .disable i {
	cursor: default;
	color: #aaa;
}

#schedule_table .schedule_table_row.finished .disable i {
	cursor: not-allowed;
}

.status_live {
    background-color: red;
    color: white;
    border-radius: 50px;
    font-weight: 900;
    padding: 2px 5px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  40% { opacity: 1; }
  20% { opacity: 0.7; }
  40% { opacity: 1; }
}

#schedule_table .schedule_table_row td:nth-child(1) {
	width: 10%;
	font-size: 12px;
	font-weight: bold;
	border-right: 1px solid #bbb;
	background-color: #e0e0e0;
}

#schedule_table .schedule_table_row td:nth-child(2) {
	width: 36%;
	font-size: 14px;
}

#schedule_table .schedule_table_row td:nth-child(3) {
	width: 3%;
	font-size: 15px;
	font-weight: bold;
}

#schedule_table .schedule_table_row td:nth-child(4) {
	width: 7%;
	font-size: 12px;
    line-height: 14px;
	font-weight: bold;
}

#schedule_table .schedule_table_row td:nth-child(5) {
	width: 3%;
	font-size: 15px;
	font-weight: bold;
}

#schedule_table .schedule_table_row td:nth-child(6) {
	width: 36%;
	font-size: 14px;
}

#schedule_table .schedule_table_row td:nth-child(7) {
	width: 5%;
	font-size: 18px;
	border-left: 1px solid #bbb;
	/*background-color: #e0e0e0;*/
}

#schedule_table .schedule_table_row .schedule_home_team_score.win,
#schedule_table .schedule_table_row .schedule_away_team_score.win {
	color: green;
}

#schedule_table .schedule_table_row .schedule_home_team_score.lose,
#schedule_table .schedule_table_row .schedule_away_team_score.lose {
	color: red;
}

#schedule_table .schedule_table_row .schedule_home_team_score.draw,
#schedule_table .schedule_table_row .schedule_away_team_score.draw {
	color: blue;
}

/* mobile */
@media all and (min-device-width: 521px) and (max-device-width: 768px) {
	.page_title {
		padding-top: 25px;
	}

	.main_section .schedule_section {
		width: 90%;
	}

	.container_box {
		margin: 30px 0px;
	}
}

@media all and (min-device-width: 421px) and (max-device-width: 520px) {
	.page_title {
		padding-top: 25px;
	}

	.main_section .schedule_section {
		width: 90%;
	}

	.container_box {
		margin: 30px 0px;
	}

	.schedule_table_section {
		padding: 0px 2px 25px 2px;
	}

	#schedule_table .schedule_table_row td:nth-child(1) {
		width: 12%;
		font-size: 10px;
		font-weight: normal;
	}

	#schedule_table .schedule_table_row td:nth-child(2) {
		width: 30%;
		font-size: 12px;
	}

	#schedule_table .schedule_table_row td:nth-child(3) {
		width: 3%;
		font-size: 13px;
		font-weight: bold;
	}

	#schedule_table .schedule_table_row td:nth-child(4) {
		width: 12%;
		font-size: 11px;
	    line-height: 12px;
		font-weight: bold;
	}

	#schedule_table .schedule_table_row td:nth-child(5) {
		width: 3%;
		font-size: 13px;
		font-weight: bold;
	}

	#schedule_table .schedule_table_row td:nth-child(6) {
		width: 30%;
		font-size: 12px;
	}

	#schedule_table .schedule_table_row td:nth-child(7) {
		width: 8%;
		font-size: 12px;
		border-left: 1px solid #bbb;
		/*background-color: #e0e0e0;*/
	}

	.status_live {
		font-size: 10px;
	    padding: 2px 4px;
	}
}

@media all and (min-device-width: 361px) and (max-device-width: 420px) {
	.page_title {
		padding-top: 25px;
	}

	.main_section .schedule_section {
		width: 90%;
	}

	.container_box {
		margin: 30px 0px;
	}

	.schedule_table_section {
		padding: 0px 2px 25px 2px;
	}

	#schedule_table .schedule_table_row td:nth-child(1) {
		width: 12%;
		font-size: 10px;
		font-weight: normal;
	}

	#schedule_table .schedule_table_row td:nth-child(2) {
		width: 30%;
		font-size: 12px;
	}

	#schedule_table .schedule_table_row td:nth-child(3) {
		width: 3%;
		font-size: 13px;
		font-weight: bold;
	}

	#schedule_table .schedule_table_row td:nth-child(4) {
		width: 12%;
		font-size: 11px;
	    line-height: 12px;
		font-weight: bold;
	}

	#schedule_table .schedule_table_row td:nth-child(5) {
		width: 3%;
		font-size: 13px;
		font-weight: bold;
	}

	#schedule_table .schedule_table_row td:nth-child(6) {
		width: 30%;
		font-size: 12px;
	}

	#schedule_table .schedule_table_row td:nth-child(7) {
		width: 8%;
		font-size: 12px;
		border-left: 1px solid #bbb;
		/*background-color: #e0e0e0;*/
	}

	.status_live {
		font-size: 10px;
	    padding: 2px 4px;
	}
}

@media all and (max-device-width: 360px) {
	.page_title {
		padding-top: 25px;
	}

	.main_section .schedule_section {
		width: 90%;
	}

	.container_box {
		margin: 30px 0px;
	}

	.tier_cell {
		width: 60px;
	}

	.schedule_table_section {
		padding: 0px 2px 25px 2px;
	}

	#schedule_table .schedule_table_row td:nth-child(1) {
		width: 12%;
		font-size: 10px;
		font-weight: normal;
	}

	#schedule_table .schedule_table_row td:nth-child(2) {
		width: 30%;
		font-size: 12px;
	}

	#schedule_table .schedule_table_row td:nth-child(3) {
		width: 3%;
		font-size: 13px;
		font-weight: bold;
	}

	#schedule_table .schedule_table_row td:nth-child(4) {
		width: 12%;
		font-size: 11px;
	    line-height: 12px;
		font-weight: bold;
	}

	#schedule_table .schedule_table_row td:nth-child(5) {
		width: 3%;
		font-size: 13px;
		font-weight: bold;
	}

	#schedule_table .schedule_table_row td:nth-child(6) {
		width: 30%;
		font-size: 12px;
	}

	#schedule_table .schedule_table_row td:nth-child(7) {
		width: 8%;
		font-size: 12px;
		border-left: 1px solid #bbb;
		/*background-color: #e0e0e0;*/
	}

	.status_live {
		font-size: 10px;
	    padding: 2px 4px;
	}
}
