
body {
	background-color: #ebeef1;
}

.signup_section {
	text-align: center;
}

.signup_box_wrapper {
	width: 1200px;
	margin: 0 auto;
}

.signup_box {
	width: 500px;
	height: 300px;
	background-color: #fff;
	border-radius: 0px;
	border: 1px solid #ccc;
	/*margin: 0 auto;*/
}

.signup_section .logo {
	margin: 0 auto;
	width: 250px;
	height: 100px;
	margin-top: 60px;
}

.signup_box > .row {
	padding: 10px;
}

.signup_box > .row:not(:last-child) {
	height: 50px;
	border-bottom: 1px solid #eee;
}


