body {
	margin: 0px;
}


/*
	<-- HEADER -->
*/

#header_wrap {
	height: 50px;
	/* border-bottom: 1px solid #ccc; */
	height: 70px;
	background-color: #444;
	/* opacity: 0.85; */
}

#header {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	/* height: 100%; */
	/* padding-top: 10px; */
}

.logo {
	/* float: left; */
	color: #fff; 
    text-shadow: #333 0px 2px, #333 2px 0px, #333 -2px 0px, 
    #333 0px -2px, #333 -1.4px -1.4px, #333 1.4px 1.4px, 
    #333 1.4px -1.4px, #333 -1.4px 1.4px; 
	font-size: 40px;
	
	position: relative;
	display: inline-block;
	
	line-height: 70px;
	vertical-align: middle;
	cursor: pointer;
	padding: 0px 20px 0px 20px;
	font-family: Jazz LET, fantasy;
}

#header > .logo {
	font-size: 24px;
	width: 200px;
}

#header > .main_menu {
	display: inline-block;
	line-height: 70px;
	vertical-align: middle;
	margin: 0px;
}

#header > .tools {
	float: right;
	display: inline-block;
	line-height: 70px;
	vertical-align: middle;
	margin: 0px;
}

#header > .tools > .my_info,
#header > .tools > .logout,
#header > .tools > .login,
#header > .tools > .signup,
#header > .main_menu > .menu_rank,
#header > .main_menu > .menu_schedule,
#header > .main_menu > .menu_board {
	/* float: right;
	text-align: center;
	border-left: 1px solid #ccc;
	height: 100%;
	width: 70px; */
	/* float: right; */
	display: inline-block;
	position: relative;
	/* height: 50px; */
	padding: 0px 20px 0px 20px;
	color: #fff;
	cursor: pointer;
}

#header > .tools > .my_info:hover,
#header > .tools > .logout:hover,
#header > .tools > .login:hover,
#header > .tools > .signup:hover,
#header > .main_menu > .menu_rank:hover,
#header > .main_menu > .menu_schedule:hover,
#header > .main_menu > .menu_board:hover {
 	background-color: #333;
}

#header > .tools > .menu_search {
	display: inline-block;
	position: relative;
	margin-right: 30px;
}

#header > .tools > .menu_search > button {
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	background: none;
	padding: 11px;
	cursor: pointer;
}

#header > .tools > .menu_search > button:hover {
	background-color: #ccc;
}

#header > .tools > .menu_search > input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 35px;
	padding: 5px 30px 5px 5px;
	font-size: 14px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ccc;
}

/* #header a {
	color: #fff;
	text-decoration: none;
} */


/*
	<-- BODY -->
*/

.main_logo_section {
	text-align: center;
	line-height: 400px;
	vertical-align: middle;
	/* border-bottom: 1px solid #ccc; */
	/* background-color: #555; */
	background:
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
}

.main_logo_section > .logo {
	font-size: 72px;
	cursor: default;
}

.main_section {
	background-color: #145c86;
	opacity: 0.85;
	text-align: center;
}

.container_box {
	background-color: #ddd;
	border-radius: 10px;
	position: relative;
	display: inline-block;
	margin: 30px 0px 30px 0px;
}

.main_section .mydata_section {
	width: 800px;
	height: 200px;
}

.main_section .schedule_section {
	width: 800px;
	height: 800px;
}



