
/*
	<-- BODY MAIN SECTIOM-->
*/

.main_section {
	/*background-color: #145c86;*/
	/*opacity: 0.85;*/
	text-align: center;
}

.searchdata_wrapper,
.rank_wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.main_section .mydata_section {
	width: 800px;
	/* height: 200px; */
}

.main_section .rank_section {
	width: 800px;
	/*height: 800px;*/
}

.mydata_user,
.rankdata {
	border-bottom: 1px solid #aaa;
	padding: 15px;
	text-align: left;
}

.mydata_user > .mydata_user_id,
.rankdata_sub {
	font-weight: bold;
	font-size: 22px;
}

.mydata_user > .mydata_user_main_field {
	/* font-weight: bold; */
	font-size: 18px;
	color: #555;
	/*margin-left: 10px;*/
}

.mydata_statistics {
	display: flex;
}

.mydata_statistics > .mydata_badge {
	width: 20%;
	border-right: 1px solid #bbb;
	padding: 15px;
}

.mydata_statistics > .mydata_badge > img {
	width: 120px;
	/*height: 150px;*/
}

.mydata_statistics > .mydata_rate {
	width: 25%;
	border-right: 1px solid #bbb;
	padding: 15px 15px 15px 30px;
	text-align: left;
}

.mydata_statistics > .mydata_rate .rate_classification {
	font-weight: bold;
	width: 70px;
	display: block;
	float: left;
}

.mydata_statistics > .mydata_recent_predict {
	width: 55%;
	text-align: left;
	/* padding: 15px; */
}

.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_sub {
	border-bottom: 1px solid #bbb;
	padding: 10px 10px 10px 30px;
	font-weight: bold;
}

/*.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content {
	padding: 10px;
	height: 100px;
}*/

.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content > .predict_content_row {
	padding: 15px;
}

.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content .predict_date {
	width: 80px;
	float: left;
}

.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content .match_result {
	float: left;
	margin-right: 25px;
}

.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content .match_result .match_result_team {
	width: 110px;
	display: inline-block;
	text-align: center;
}

.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content .match_result .match_result_score {
	margin: 0px 8px 0px 8px;
}

.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content .predict_result.success {
	color: #056f05;
	float: left;
}

.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content .predict_result.fail {
	color: #d22323;
	float: left;
}

.rankdata_type_btn {
	margin-top: 10px 0px 25px 25px;
}

.rankdata_type_btn > .type_btn {
	margin-right: 5px;
	height: 25px;
	cursor: pointer;
	width: 115px;
	margin-top: 10px;
}

.rankdata_type_btn > .type_btn.active {
	background-color: #145c86;
	border: none;
	color: #fff;
}

.rank_table_section {
	padding: 25px;
}

#rank_table {
	/*height: 500px;*/
	width: 100%;
}

#rank_table tr:not(:nth-child(1)):hover {
	cursor: pointer;
	background-color: #e5e5e5;
}

.tier_cell {
	width: 80px;
}

/*.tier_cell > div{
	margin-left: 30px;
}*/

/*
	Media Query
*/

/* mobile header */
@media all and (min-device-width: 471px) and (max-device-width: 768px) {
	.main_section .mydata_section,
	.main_section .rank_section {
		width: 85%;
	}

	.mydata_statistics {
		display: block;
	}

	.mydata_statistics .mydata_badge {
		width: 45%;
		float: left;
		border-bottom: 1px solid #bbb;
	}

	.mydata_statistics .mydata_rate {
		width: 55%;
		float: left;
		border-bottom: 1px solid #bbb;
		border-right: none;
	}

	.mydata_statistics .mydata_recent_predict {
		width: 100%;
		float: left;
		padding-bottom: 20px;
	}

	.mydata_statistics .mydata_recent_predict .mydata_recent_predict_content {
		font-size: 11px;
	}
}

@media all and (max-device-width: 470px) {
	.main_section .mydata_section,
	.main_section .rank_section {
		width: 90%;
	}

	.mydata_statistics {
		display: block;
	}

	.mydata_statistics .mydata_badge {
		width: 45%;
		float: left;
		border-bottom: 1px solid #bbb;
		height: 150px;
		padding-top: 35px;
	}

	.mydata_statistics .mydata_badge  > img{
		width: 80px;
		height: 80px;
	}

	.mydata_statistics .mydata_rate {
		width: 55%;
		float: left;
		border-bottom: 1px solid #bbb;
		border-right: none;
		font-size: 11px;
		height: 150px;
	}

	.mydata_statistics .mydata_recent_predict {
		width: 100%;
		float: left;
		padding-bottom: 20px;
	}

	.mydata_statistics .mydata_recent_predict .mydata_recent_predict_content {
		font-size: 11px;
	}

	.mydata_statistics .mydata_recent_predict .mydata_recent_predict_content .predict_content_row {
		margin-bottom: 10px;
	}

	.rankdata_type_btn > .type_btn {
		margin-right: 0px;
		width: 70px;
	}

	.table_label_score,
	.table_label_record,
	.table_label_hitrate,
	.table_label_tier {
		display: none !important;
	}

	.container_box {
		margin: 30px 15px;
	}

	.match_result_team {
		width: 95px !important;
	}

	.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content .match_result {
		margin-right: 5px;
	}
}
