
/*
	<-- BODY MAIN SECTIOM-->
*/

.main_section {
	background-color: #145c86;
	opacity: 0.85;
	text-align: center;
}

.mydata_wrapper,
.rank_wrapper {
	width: 1200px;
	margin: 0 auto;
}

.main_section .mydata_section {
	width: 800px;
	/* height: 200px; */
}

.main_section .rank_section {
	width: 800px;
	/*height: 800px;*/
}

.mydata_user,
.rankdata {
	border-bottom: 1px solid #aaa;
	padding: 15px;
	text-align: left;
}

.mydata_user > .mydata_user_id,
.rankdata_sub {
	font-weight: bold;
	font-size: 22px;
}

.mydata_user > .mydata_user_main_field {
	/* font-weight: bold; */
	font-size: 18px;
	color: #555;
	margin-left: 10px;
}

.mydata_statistics {
	display: flex;
}

.mydata_statistics > .mydata_badge {
	width: 20%;
	border-right: 1px solid #bbb;
	padding: 15px;
}

.mydata_statistics > .mydata_badge > img {
	width: 120px;
	height: 150px;
}

.mydata_statistics > .mydata_rate {
	width: 30%;
	border-right: 1px solid #bbb;
	padding: 15px 15px 15px 30px;
	text-align: left;
}

.mydata_statistics > .mydata_rate .rate_classification {
	font-weight: bold;
	width: 70px;
	display: block;
	float: left;
}

.mydata_statistics > .mydata_recent_predict {
	width: 50%;
	text-align: left;
	/* padding: 15px; */
}

.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_sub {
	border-bottom: 1px solid #bbb;
	padding: 10px 10px 10px 30px;
	font-weight: bold;
}

/*.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content {
	padding: 10px;
	height: 100px;
}*/

.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content > .predict_content_row {
	padding: 15px;
}

.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content .predict_date {
	width: 80px;
	float: left;
}

.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content .match_result {
	width: 180px;
	float: left;
}

.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content .predict_result.success {
	color: #056f05;
	float: left;
}

.mydata_statistics > .mydata_recent_predict > .mydata_recent_predict_content .predict_result.fail {
	color: #d22323;
	float: left;
}

.rankdata_league_btn {
	margin-top: 10px 0px 25px 25px;
}

.rankdata_league_btn > .league_btn {
	margin-right: 5px;
	height: 25px;
	cursor: pointer;
	width: 115px;
	margin-top: 10px;
}

.rankdata_league_btn > .league_btn.active {
	background-color: #145c86;
	border: none;
	color: #fff;
}

.rank_table_section {
	padding: 25px;
}

#rank_table {
	/*height: 500px;*/
	width: 100%;
}
